<a href="https://colab.research.google.com/github/Wlnfadhil/Analisa-Data-Air-Quality-Control/blob/coca-coba-code/submission/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: PRSA_Data_20130301-20170228
- **Nama:** Wildan Fadhil Nazaruddin
- **Email:** wildanfadhil76@gmial.com
- **ID Dicoding:**

## Air  Data Quality

Air particulate matter in various regions has a significant impact on public health. Year-over-year data analysis is crucial in guiding informed decision-making to mitigate the effects of global warming. This project aims to analyze weather conditions and air quality across different regions of China to better understand environmental trends and their implications. The dataset used in this project includes data from 12 provinces in China, which will be examined to identify patterns and provide insights for more effective policy-making in maintaining air quality and public health. This analysis can also contribute to developing better strategies for mitigating the ongoing climate change.

### 1.1 Clases

- PRSA_Data_Aotizhongxin: Data collected from the Aotizhongxin station.
- PRSA_Data_Changping: Data from the Changping station.
- PRSA_Data_Dingling: Data from the Dingling station.
- PRSA_Data_Dongsi: Data from the Dongsi station.
- PRSA_Data_Guanyuan: Data from the Guanyuan station.
- PRSA_Data_Gucheng: Data from the Gucheng station.
- PRSA_Data_Huairou: Data from the Huairou station.
- PRSA_Data_Tiantan: Data from the Tiantan station.
- PRSA_Data_Wanliu: Data from the Wanliu station.

### 1.2 Methodology

1. Data Collection and Cleaning:
- - -
First, we will consolidate the datasets from the 12 provinces. Data cleaning will involve handling missing values, correcting inconsistencies, and ensuring all datasets are standardized.
Descriptive Statistics:
- - -
Descriptive statistics such as mean, median, standard deviation, and interquartile range (IQR) will be used to summarize the key characteristics of the air particulate data (PM2.5, PM10) across different provinces. Visualizations like histograms, box plots, and time series plots will be used to better understand the distribution and spread of the data.
Correlation Analysis:
- - -
To identify the relationship between different pollutants and weather conditions, we will conduct a Pearson or Spearman correlation analysis. This will help in understanding how temperature, humidity, or wind speed affect the levels of particulate matter in the air.
Trend Analysis:
- - -
Trend analysis will be performed to observe how air quality changes over time (seasonally or annually) and across provinces. We will use time series decomposition to break down the data into trend, seasonal, and residual components, enabling a clearer view of underlying patterns.
Geospatial Analysis:
- - -
By plotting data on maps, we will explore the geographical distribution of air particulate matter across provinces, using spatial visualization tools to observe how air quality varies between regions.
Hypothesis Testing:
- - -
Statistical hypothesis tests (such as t-tests or ANOVA) will be used to compare air quality between different regions or time periods, determining whether observed differences are statistically significant.

### 1.3 Deployment

Data set

```
! git clone https://github.com/Wlnfadhil/Analisa-Data-Air-Quality-Control.git
```

## 1 code enggine

In [158]:
# ! git clone https://github.com/Wlnfadhil/Analisa-Data-Air-Quality-Control.git

#### 1.1   menganalisa KORELASI SUHU DAN TEMP DAN PERBANDINGAN DENGAN PRES

##### 1.1.1  code untuk menganalisa KORELASI SUHU DAN TEMP DAN PERBANDINGAN DENGAN PRES harian

In [159]:
def korelasi_suhu(df, year, month, day_start, day_end):
    
    filtered_df = df.query('year == @year and month == @month and day >= @day_start and day <= @day_end')

    result = (
        filtered_df.groupby(['year', 'month', 'day'])
        .agg(avg_TEMP=('TEMP', 'mean'), avg_O3=('O3', 'mean'), avg_PRES=('PRES', 'mean'))
        .reset_index()
    )

    result['avg_TEMP'] = result['avg_TEMP'].round()
    result['avg_O3'] = result['avg_O3'].round()
    result['avg_PRES'] = result['avg_PRES'].round()

    return result

### 1.2 code untuk menganalisa Polutan Pm 2.5  DAN pm 10

#### 1.2.1 Polusi Harian

In [333]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    filtered_df = df.query('year == @year and month == @month and day >= @day_start and day <= @day_end')

    result = (
        filtered_df.groupby(['year', 'month', 'day'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
        .reset_index()
    )

    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()

    return result

#### 1.2.2 partikulasi_polusi_mingguan

In [161]:
def partikulasi_polusi_mingguan(df, year, month):
    # Filter the DataFrame for the specified year and month
    filtered_df = df.query('year == @year and month == @month')

    filtered_df['week'] = filtered_df['day'].apply(lambda x: (x - 1) // 7 + 1) 

    result = (
        filtered_df.groupby(['year', 'month', 'week'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
        .reset_index()
    )

    # Round the averages to the nearest integer
    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()

    return result

#### 1.2.3 partikulasi_polusi_Tahunan

In [162]:
def partikulasi_polusi_tahunan(df, year):
    filtered_df = df.query('year == @year' )

    result = (
        filtered_df.groupby(['year'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
        .reset_index()
    )

    # Fix indentation for rounding and assignment
    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()

    return result

#### 1.2.4 partikulasi_polusi_bulanan

In [163]:
def partikulasi_polusi_bulanan(df, year, month):
    filtered_df = df.query('year == @year and month == @month')

    result = (
        filtered_df.groupby(['year', 'month'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
        .reset_index()
    )

    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()

    return result

### 1.3 menganalisa KORELASI perubahan kualitas udara

#### 1.3.1 code untuk menganalisa KORELASI perubahan kualitas udara harian

##### Harian

In [357]:
def kualitas_udara_harian(df, year, month, day_start, day_end): 

    filtered_df = df.query('year == @year and month == @month and day >= @day_start and day <= @day_end')

    result = (
        filtered_df.groupby(['year', 'month', 'day'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
        .reset_index()
    )

    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()
    result['avg_NO2'] = result['avg_NO2'].round()
    result['avg_CO'] = result['avg_CO'].round()

    # Return the result
    return result

##### Mingguan

In [359]:
def kualitas_udara_mingguan(df, year, month): 

    filtered_df = df.query('year == @year and month == @month ')
    
    filtered_df['week'] = filtered_df['day'].apply(lambda x: (x - 1) // 7 + 1)
    
    result = (
        filtered_df.groupby(['year', 'month'])
        .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
        .reset_index()
    )

    result['avg_PM25'] = result['avg_PM25'].round()
    result['avg_PM10'] = result['avg_PM10'].round()
    result['avg_NO2'] = result['avg_NO2'].round()
    result['avg_CO'] = result['avg_CO'].round()

    # Return the result
    return result

### 1.4 Data Cleaning

In [165]:
def preprocess_dataframe(df):
    df['date'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']]) 
    df.set_index('date', inplace=True) 

    df['wd'] = df['wd'].astype('category')
    df['station'] = df['station'].astype('category')

    pollutants = ['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3']
    df[pollutants] = df[pollutants].interpolate(method='time')

    meteorological = ['TEMP', 'PRES', 'DEWP', 'RAIN']
    df[meteorological] = df[meteorological].interpolate(method='linear')

    df['wd'] = df['wd'].fillna(method='ffill')
    df['WSPM'] = df['WSPM'].fillna(method='ffill')

    return df

## 2 Menentukan Pertanyaan Bisnis

- Pertanyaan 1 :
  - What are the primary trends in air quality levels (PM2.5, PM10) across the 12 provinces in China over the observed time period (2013-2017)?
- Pertanyaan 2 :
  - How do various weather conditions (e.g., temperature, humidity, wind speed) correlate with particulate matter concentrations (PM2.5, PM10) in each province?
- Pertanyaan 3 :
   - Which regions show the highest and lowest levels of air particulate matter, and what factors contribute to these regional differences?
- Pertanyaan 4 :   
   - How do seasonal variations (e.g., winter vs. summer) impact air quality across the provinces, and what are the contributing factors?
- Pertanyaan 5 :
   - What actionable insights can be drawn from this analysis to inform policy decisions aimed at improving air quality and mitigating public health risks?

## 3 Import Semua Packages/Library yang Digunakan

In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from IPython.display import Markdown, display
import warnings
warnings.filterwarnings('ignore')
import plotly.graph_objects as go

In [167]:
## 4 Data Wrangling

## 4.1 Gathering Data

#### 4.1.1 Load data

##### 4.1.1.1 Menentukan Direktori yang di tuju

In [168]:
current_dir = os.getcwd()

csv_files = [
    "PRSA_Data_Aotizhongxin_20130301-20170228.csv",
    "PRSA_Data_Changping_20130301-20170228.csv",
    "PRSA_Data_Dingling_20130301-20170228.csv",
    "PRSA_Data_Dongsi_20130301-20170228.csv",
    "PRSA_Data_Guanyuan_20130301-20170228.csv",
    "PRSA_Data_Gucheng_20130301-20170228.csv",
    "PRSA_Data_Huairou_20130301-20170228.csv",
    "PRSA_Data_Nongzhanguan_20130301-20170228.csv",
    "PRSA_Data_Shunyi_20130301-20170228.csv",
    "PRSA_Data_Tiantan_20130301-20170228.csv",
    "PRSA_Data_Wanliu_20130301-20170228.csv",
    "PRSA_Data_Wanshouxigong_20130301-20170228.csv"
]

dataframes = {}
for csv_file in csv_files:
    file_path = os.path.join(current_dir, "submission/data", csv_file)  # Update directory here

    if os.path.exists(file_path):
        print(f"File {csv_file} ditemukan di {file_path}")
        try:
            df = pd.read_csv(file_path)
            location = csv_file.split('_')[2]
            dataframes[location] = df
        except Exception as e:
            print(f"Terjadi kesalahan saat membaca file {csv_file}: {e}")
    else:
        print(f"File {csv_file} TIDAK ditemukan di {file_path}")

File PRSA_Data_Aotizhongxin_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Aotizhongxin_20130301-20170228.csv
File PRSA_Data_Changping_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Changping_20130301-20170228.csv
File PRSA_Data_Dingling_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Dingling_20130301-20170228.csv
File PRSA_Data_Dongsi_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Dongsi_20130301-20170228.csv
File PRSA_Data_Guanyuan_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Guanyuan_20130301-20170228.csv
File PRSA_Data_Gucheng_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Gucheng_20130301-20170228.csv
File PRSA_Data_Huairou_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Huairou_20130301-20170228.csv
File PRSA_Data_Nongzhanguan_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Nongzhanguan_20130301-20170228.csv
File PRSA_Data_Shunyi_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Shunyi_20130301-20170228.csv
File PRSA_Data_Tiantan_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Tiantan_20130301-20170228.csv
File PRSA_Data_Wanliu_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Wanliu_20130301-20170228.csv
File PRSA_Data_Wanshouxigong_20130301-20170228.csv ditemukan di /workspaces/Analisa-Data-Air-Quality-Control/submission/data/PRSA_Data_Wanshouxigong_20130301-20170228.csv

In [169]:
aotizhongxin_df = dataframes['Aotizhongxin']

changping_df = dataframes['Changping']

dingling_df = dataframes['Dingling']

dongsi_df = dataframes['Dongsi']

guanyuan_df = dataframes['Guanyuan']

gucheng_df = dataframes['Gucheng']

huairou_df = dataframes ['Huairou']

Nongzhanguan_df = dataframes['Nongzhanguan']

shunyi_df = dataframes['Shunyi']

tiantian_df = dataframes['Tiantan']

wanliu_df = dataframes['Wanliu']

Wanshouxigong_df = dataframes['Wanshouxigong']

##### 4.1.1.2 Melihat Info Data

###### 4.1.1.2.1 Aotizhongxin

In [170]:
aotizhongxin_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [171]:
aotizhongxin_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

###### 4.1.1.2.2 changping

In [172]:
changping_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,13.0,7.0,300.0,85.0,-2.3,1020.8,-19.7,0.0,E,0.5,Changping
1,2,2013,3,1,1,3.0,3.0,6.0,6.0,300.0,85.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Changping
2,3,2013,3,1,2,3.0,3.0,22.0,13.0,400.0,74.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Changping
3,4,2013,3,1,3,3.0,6.0,12.0,8.0,300.0,81.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Changping
4,5,2013,3,1,4,3.0,3.0,14.0,8.0,300.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Changping

In [173]:
dingling_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling

In [174]:
dongsi_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2,2013,3,1,1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,3,2013,3,1,2,7.0,7.0,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
3,4,2013,3,1,3,3.0,3.0,5.0,18.0,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi

In [175]:
guanyuan_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan

In [176]:
guanyuan_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan

In [177]:
huairou_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,7.0,7.0,3.0,2.0,100.0,91.0,-2.3,1020.3,-20.7,0.0,WNW,3.1,Huairou
1,2,2013,3,1,1,4.0,4.0,3.0,NaN,100.0,92.0,-2.7,1020.8,-20.5,0.0,NNW,1.5,Huairou
2,3,2013,3,1,2,4.0,4.0,NaN,NaN,100.0,91.0,-3.2,1020.6,-21.4,0.0,NW,1.8,Huairou
3,4,2013,3,1,3,3.0,3.0,3.0,2.0,NaN,NaN,-3.3,1021.3,-23.7,0.0,NNW,2.4,Huairou
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,300.0,86.0,-4.1,1022.1,-22.7,0.0,NNW,2.2,Huairou

In [178]:
Nongzhanguan_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,5.0,14.0,4.0,12.0,200.0,85.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Nongzhanguan
1,2,2013,3,1,1,8.0,12.0,6.0,14.0,200.0,84.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Nongzhanguan
2,3,2013,3,1,2,3.0,6.0,5.0,14.0,200.0,83.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Nongzhanguan
3,4,2013,3,1,3,5.0,5.0,5.0,14.0,200.0,84.0,-1.4,1026.2,-25.5,0.0,N,4.9,Nongzhanguan
4,5,2013,3,1,4,5.0,5.0,6.0,21.0,200.0,77.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Nongzhanguan

In [179]:
shunyi_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,-0.9,1025.8,-20.5,0.0,NW,9.3,Shunyi
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,-1.1,1026.1,-21.3,0.0,NW,9.4,Shunyi
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi

In [180]:
tiantian_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,6.0,4.0,8.0,300.0,81.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Tiantan
1,2,2013,3,1,1,6.0,29.0,5.0,9.0,300.0,80.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Tiantan
2,3,2013,3,1,2,6.0,6.0,4.0,12.0,300.0,75.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Tiantan
3,4,2013,3,1,3,6.0,6.0,4.0,12.0,300.0,74.0,-1.4,1026.2,-25.5,0.0,N,4.9,Tiantan
4,5,2013,3,1,4,5.0,5.0,7.0,15.0,400.0,70.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Tiantan

In [181]:
wanliu_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,8.0,8.0,6.0,28.0,400.0,52.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Wanliu
1,2,2013,3,1,1,9.0,9.0,6.0,28.0,400.0,50.0,-1.1,1023.2,-18.2,0.0,N,4.7,Wanliu
2,3,2013,3,1,2,3.0,6.0,NaN,19.0,400.0,55.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Wanliu
3,4,2013,3,1,3,11.0,30.0,8.0,14.0,NaN,NaN,-1.4,1024.5,-19.4,0.0,NW,3.1,Wanliu
4,5,2013,3,1,4,3.0,13.0,9.0,NaN,300.0,54.0,-2.0,1025.2,-19.5,0.0,N,2.0,Wanliu

In [182]:
Wanshouxigong_df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,6.0,17.0,200.0,62.0,0.3,1021.9,-19.0,0.0,WNW,2.0,Wanshouxigong
1,2,2013,3,1,1,11.0,11.0,7.0,14.0,200.0,66.0,-0.1,1022.4,-19.3,0.0,WNW,4.4,Wanshouxigong
2,3,2013,3,1,2,8.0,8.0,NaN,16.0,200.0,59.0,-0.6,1022.6,-19.7,0.0,WNW,4.7,Wanshouxigong
3,4,2013,3,1,3,8.0,8.0,3.0,16.0,NaN,NaN,-0.7,1023.5,-20.9,0.0,NW,2.6,Wanshouxigong
4,5,2013,3,1,4,8.0,8.0,3.0,NaN,300.0,36.0,-0.9,1024.1,-21.7,0.0,WNW,2.5,Wanshouxigong

## 5 Assessing Data

### 5.1 aotizhongxin

In [183]:
aotizhongxin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [184]:
aotizhongxin_df.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

In [185]:
changping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34290 non-null  float64
 6   PM10     34482 non-null  float64
 7   SO2      34436 non-null  float64
 8   NO2      34397 non-null  float64
 9   CO       33543 non-null  float64
 10  O3       34460 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [186]:
aotizhongxin_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
35059    False
35060    False
35061    False
35062    False
35063    False
Length: 35064, dtype: bool

In [187]:

def cek_nilai_tidak_akurat(df):
    print("Pemeriksaan nilai tidak akurat:")

    # Definisikan rentang nilai yang dianggap akurat untuk setiap kolom
    rentang_akurat = {
        'PM2.5': (0, 1000),
        'PM10': (0, 1500),
        'SO2': (0, 2000),
        'NO2': (0, 2000),
        'CO': (0, 200),
        'O3': (0, 500),
        'TEMP': (-50, 50),
        'PRES': (800, 1100),
        'DEWP': (-50, 50),
        'RAIN': (0, 500),
        'WSPM': (0, 100)
    }

    hasil_tidak_akurat = {}

    for kolom, (batas_bawah, batas_atas) in rentang_akurat.items():
        if kolom in df.columns:
            nilai_tidak_akurat = df[(df[kolom] < batas_bawah) | (df[kolom] > batas_atas)]
            if not nilai_tidak_akurat.empty:
                hasil_tidak_akurat[kolom] = nilai_tidak_akurat[[kolom]]
                print(f"\nNilai tidak akurat ditemukan di kolom {kolom}:")
                print(nilai_tidak_akurat[[kolom]])

    if not hasil_tidak_akurat:
        print("Tidak ditemukan nilai yang tidak akurat dalam rentang yang ditentukan.")

    return hasil_tidak_akurat

# Menjalankan fungsi
hasil_tidak_akurat = cek_nilai_tidak_akurat(aotizhongxin_df)

Pemeriksaan nilai tidak akurat:

Nilai tidak akurat ditemukan di kolom CO:
          CO
0      300.0
1      300.0
2      300.0
3      300.0
4      300.0
...      ...
35059  400.0
35060  500.0
35061  700.0
35062  700.0
35063  600.0

[31776 rows x 1 columns]

In [188]:

def cek_nilai_tidak_konsisten(df):
    print("Pemeriksaan nilai tidak konsisten:")

    hasil_tidak_konsisten = {}

    # 1. Memeriksa inkonsistensi antara PM2.5 dan PM10
    if 'PM2.5' in df.columns and 'PM10' in df.columns:
        pm_tidak_konsisten = df[df['PM2.5'] > df['PM10']]
        if not pm_tidak_konsisten.empty:
            hasil_tidak_konsisten['PM2.5 > PM10'] = pm_tidak_konsisten[['PM2.5', 'PM10']]
            print("\nDitemukan nilai PM2.5 yang lebih besar dari PM10:")
            print(pm_tidak_konsisten[['PM2.5', 'PM10']])

    # 2. Memeriksa inkonsistensi dalam arah angin
    if 'wd' in df.columns:
        arah_angin_valid = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE',
                            'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW']
        arah_angin_tidak_valid = df[~df['wd'].isin(arah_angin_valid)]
        if not arah_angin_tidak_valid.empty:
            hasil_tidak_konsisten['Arah Angin Tidak Valid'] = arah_angin_tidak_valid[['wd']]
            print("\nDitemukan arah angin yang tidak valid:")
            print(arah_angin_tidak_valid[['wd']])

    # 3. Memeriksa inkonsistensi dalam suhu dan titik embun
    if 'TEMP' in df.columns and 'DEWP' in df.columns:
        suhu_tidak_konsisten = df[df['DEWP'] > df['TEMP']]
        if not suhu_tidak_konsisten.empty:
            hasil_tidak_konsisten['DEWP > TEMP'] = suhu_tidak_konsisten[['TEMP', 'DEWP']]
            print("\nDitemukan titik embun yang lebih tinggi dari suhu:")
            print(suhu_tidak_konsisten[['TEMP', 'DEWP']])

    # 4. Memeriksa inkonsistensi dalam kecepatan angin
    if 'WSPM' in df.columns:
        kecepatan_angin_negatif = df[df['WSPM'] < 0]
        if not kecepatan_angin_negatif.empty:
            hasil_tidak_konsisten['Kecepatan Angin Negatif'] = kecepatan_angin_negatif[['WSPM']]
            print("\nDitemukan kecepatan angin negatif:")
            print(kecepatan_angin_negatif[['WSPM']])

    if not hasil_tidak_konsisten:
        print("Tidak ditemukan nilai yang tidak konsisten berdasarkan kriteria yang diperiksa.")

    return hasil_tidak_konsisten

# Menjalankan fungsi
hasil_tidak_konsisten = cek_nilai_tidak_konsisten(aotizhongxin_df)

Pemeriksaan nilai tidak konsisten:

Ditemukan nilai PM2.5 yang lebih besar dari PM10:
       PM2.5   PM10
273    116.0   90.0
274    123.0   94.0
275    130.0  104.0
276    132.0   87.0
277    129.0   84.0
...      ...    ...
34011   93.0   90.0
34013   97.0   95.0
34025  122.0  113.0
34026  128.0  122.0
34049  155.0  151.0

[1183 rows x 2 columns]

Ditemukan arah angin yang tidak valid:
        wd
6388   NaN
11718  NaN
13412  NaN
16748  NaN
17263  NaN
...    ...
34314  NaN
34334  NaN
34560  NaN
34638  NaN
34746  NaN

[81 rows x 1 columns]

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def cek_outlier(df):
    print("Pemeriksaan outlier menggunakan metode IQR:")

    # Pilih kolom numerik
    kolom_numerik = df.select_dtypes(include=[np.number]).columns

    hasil_outlier = {}

    for kolom in kolom_numerik:
        Q1 = df[kolom].quantile(0.25)
        Q3 = df[kolom].quantile(0.75)
        IQR = Q3 - Q1

        batas_bawah = Q1 - 1.5 * IQR
        batas_atas = Q3 + 1.5 * IQR

        outlier = df[(df[kolom] < batas_bawah) | (df[kolom] > batas_atas)]

        if not outlier.empty:
            hasil_outlier[kolom] = outlier[[kolom]]
            print(f"\nOutlier ditemukan di kolom {kolom}:")
            print(f"Jumlah outlier: {len(outlier)}")
            print(f"Persentase outlier: {(len(outlier) / len(df)) * 100:.2f}%")
            print(f"Range nilai outlier: {outlier[kolom].min()} hingga {outlier[kolom].max()}")


    if not hasil_outlier:
        print("Tidak ditemukan outlier berdasarkan metode IQR.")

    return hasil_outlier

# Menjalankan fungsi
hasil_outlier = cek_outlier(aotizhongxin_df)

Pemeriksaan outlier menggunakan metode IQR:

Outlier ditemukan di kolom PM2.5:
Jumlah outlier: 1624
Persentase outlier: 4.63%
Range nilai outlier: 253.0 hingga 898.0

Outlier ditemukan di kolom PM10:
Jumlah outlier: 1080
Persentase outlier: 3.08%
Range nilai outlier: 331.0 hingga 984.0

Outlier ditemukan di kolom SO2:
Jumlah outlier: 3054
Persentase outlier: 8.71%
Range nilai outlier: 49.0 hingga 341.0

Outlier ditemukan di kolom NO2:
Jumlah outlier: 472
Persentase outlier: 1.35%
Range nilai outlier: 161.0 hingga 290.0

Outlier ditemukan di kolom CO:
Jumlah outlier: 2607
Persentase outlier: 7.43%
Range nilai outlier: 3100.0 hingga 10000.0

Outlier ditemukan di kolom O3:
Jumlah outlier: 1310
Persentase outlier: 3.74%
Range nilai outlier: 193.851 hingga 423.0

Outlier ditemukan di kolom RAIN:
Jumlah outlier: 1380
Persentase outlier: 3.94%
Range nilai outlier: 0.1 hingga 72.5

Outlier ditemukan di kolom WSPM:
Jumlah outlier: 1742
Persentase outlier: 4.97%
Range nilai outlier: 4.2 hingga 11.2

In [190]:


# Buat tabel markdown
table = """
| Dataset     | Tipe data                                    | Missing value                                     | Duplicate data                     | Inaccurate value                       |
|-------------|----------------------------------------------|---------------------------------------------------|-------------------------------------|----------------------------------------|
| aotizhongxin | <br>Terdapat kesalahan tipe :<br>1.data(hour,day,month,year)menjadi date_times<br><br>2.colom wd menjadi categori <br>3. station menjadi categori<br>| Terdapat   missing values:    <br> 1. 925 missing values pada PM2.5. <br>    | Terdapat 11 data yang duplikat.      | Terdapat inaccurate value pada kolom age. |
| orders_df   | Terdapat kesalahan tipe data untuk kolom order_date & delivery_date. | - | -                                   | -                                      |
| product_df  | -                                            | -                                                 | Terdapat 6 data yang duplikat.      | -                                      |
| sales_df    | -                                            | Terdapat 19 missing value pada kolom total_price. | -                                   | -                                      |
"""

In [191]:
display(Markdown(table))

| Dataset     | Tipe data                                    | Missing value                                     | Duplicate data                     | Inaccurate value                       |
|-------------|----------------------------------------------|---------------------------------------------------|-------------------------------------|----------------------------------------|
| aotizhongxin | <br>Terdapat kesalahan tipe :<br>1.data(hour,day,month,year)menjadi date_times<br><br>2.colom wd menjadi categori <br>3. station menjadi categori<br>| Terdapat   missing values:    <br> 1. 925 missing values pada PM2.5. <br>    | Terdapat 11 data yang duplikat.      | Terdapat inaccurate value pada kolom age. |
| orders_df   | Terdapat kesalahan tipe data untuk kolom order_date & delivery_date. | - | -                                   | -                                      |
| product_df  | -                                            | -                                                 | Terdapat 6 data yang duplikat.      | -                                      |
| sales_df    | -                                            | Terdapat 19 missing value pada kolom total_price. | -                                   | -                                      |

## 6 Cleaning Data

In [192]:
dataframes = {
    'Aotizhongxin': aotizhongxin_df,
    'Changping': changping_df,
    'Dingling': dingling_df,
    'Dongsi': dongsi_df,
    'Guanyuan': guanyuan_df,
    'Gucheng': gucheng_df,
    'Huairou': huairou_df,
    'Nongzhanguan': Nongzhanguan_df,
    'Shunyi': shunyi_df,
    'Tiantan': tiantian_df,
    'Wanliu': wanliu_df,
    'Wanshouxigong': Wanshouxigong_df
}

In [193]:
for name, df in dataframes.items():
    dataframes[name] = preprocess_dataframe(df)

## 7 Exploratory Data Analysis (EDA)

### 7.1 Explore

#### 7.1.1 Aoti

##### 7.1.1.1 Melihat korelasi dari tiap tiap data frame yang ada

In [194]:
aotizhongxin_df.corr(numeric_only=True)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
No,1.000000,9.695331e-01,4.318051e-02,1.776442e-02,6.838683e-04,-0.026720,-0.082777,-0.250010,-0.087975,0.066792,0.064187,-0.108054,0.237334,-0.133366,0.002161,0.095806
year,0.969533,1.000000e+00,-2.020099e-01,-5.569082e-03,1.164482e-15,-0.029873,-0.074631,-0.186096,-0.112742,0.051737,0.090127,-0.137650,0.233167,-0.197555,-0.001095,0.133673
month,0.043181,-2.020099e-01,1.000000e+00,1.052232e-02,4.724770e-16,0.014398,-0.029275,-0.242023,0.107467,0.056978,-0.110452,0.131137,-0.006452,0.273825,0.013523,-0.161306
day,0.017764,-5.569082e-03,1.052232e-02,1.000000e+00,-4.489555e-17,0.004067,0.030897,-0.013990,0.006609,-0.018661,0.002287,0.014246,0.022745,0.023386,-0.002517,-0.016620
hour,0.000684,1.164482e-15,4.724770e-16,-4.489555e-17,1.000000e+00,-0.010470,0.021359,0.001791,-0.044821,-0.044939,0.296022,0.141348,-0.037706,-0.013198,0.011522,0.155468
PM2.5,-0.026720,-2.987343e-02,1.439807e-02,4.066935e-03,-1.046964e-02,1.000000,0.875198,0.479025,0.682795,0.786052,-0.160271,-0.122505,-0.008796,0.123277,-0.013780,-0.275860
PM10,-0.082777,-7.463110e-02,-2.927498e-02,3.089673e-02,2.135908e-02,0.875198,1.000000,0.469399,0.650040,0.682026,-0.141969,-0.109321,-0.035391,0.061443,-0.027816,-0.179645
SO2,-0.250010,-1.860963e-01,-2.420228e-01,-1.399027e-02,1.790773e-03,0.479025,0.469399,1.000000,0.430005,0.523269,-0.206802,-0.352274,0.205117,-0.284395,-0.041565,-0.112352
NO2,-0.087975,-1.127423e-01,1.074667e-01,6.609379e-03,-4.482110e-02,0.682795,0.650040,0.430005,1.000000,0.687243,-0.495797,-0.232562,0.074193,0.072417,-0.039261,-0.487299
CO,0.066792,5.173683e-02,5.697822e-02,-1.866092e-02,-4.493931e-02,0.786052,0.682026,0.523269,0.687243,1.000000,-0.320600,-0.359192,0.206537,-0.096834,-0.016204,-0.275610
O3,0.064187,9.012698e-02,-1.104518e-01,2.286894e-03,2.960224e-01,-0.160271,-0.141969,-0.206802,-0.495797,-0.320600,1.000000,0.589316,-0.422749,0.296920,0.026881,0.342088
TEMP,-0.108054,-1.376496e-01,1.311369e-01,1.424571e-02,1.413478e-01,-0.122505,-0.109321,-0.352274,-0.232562,-0.359192,0.589316,1.000000,-0.827183,0.823197,0.036607,0.037833
PRES,0.237334,2.331669e-01,-6.452048e-03,2.274518e-02,-3.770646e-02,-0.008796,-0.035391,0.205117,0.074193,0.206537,-0.422749,-0.827183,1.000000,-0.776443,-0.060416,0.071461
DEWP,-0.133366,-1.975548e-01,2.738254e-01,2.338624e-02,-1.319802e-02,0.123277,0.061443,-0.284395,0.072417,-0.096834,0.296920,0.823197,-0.776443,1.000000,0.080772,-0.305040
RAIN,0.002161,-1.095247e-03,1.352325e-02,-2.516711e-03,1.152215e-02,-0.013780,-0.027816,-0.041565,-0.039261,-0.016204,0.026881,0.036607,-0.060416,0.080772,1.000000,0.022455
WSPM,0.095806,1.336734e-01,-1.613061e-01,-1.662014e-02,1.554681e-01,-0.275860,-0.179645,-0.112352,-0.487299,-0.275610,0.342088,0.037833,0.071461,-0.305040,0.022455,1.000000

##### 7.1.1.2 Analisis Polutas PM 2,5 dan PM10



1.   Polutan Per Hari
2.   Polutan Per bulan
3.   Polutan Per Minggu
4.   Polutan Per Tahun

In [195]:
# menghitung polutan per hari dari tahun 2013 bulan 03

In [196]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 3 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_03 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_03['avg_PM25'] = partikulasi_polusi_harian_2013_03['avg_PM25'].round()
partikulasi_polusi_harian_2013_03['avg_PM10'] = partikulasi_polusi_harian_2013_03['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_03.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      3    1       7.0      11.0
1  2013      3    2      31.0      42.0
2  2013      3    3      77.0     121.0
3  2013      3    4      23.0      45.0
4  2013      3    5     149.0     184.0

In [197]:
# menghitung polutan per hari dari tahun 2013 bulan 04

In [198]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 4 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_04 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_04['avg_PM25'] = partikulasi_polusi_harian_2013_04['avg_PM25'].round()
partikulasi_polusi_harian_2013_04['avg_PM10'] = partikulasi_polusi_harian_2013_04['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_04.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      4    1      95.0     113.0
1  2013      4    2     100.0     141.0
2  2013      4    3     124.0     205.0
3  2013      4    4      67.0     111.0
4  2013      4    5      55.0      50.0

In [199]:
# menghitung polutan per hari dari tahun 2013 bulan 05

In [200]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 5 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_05 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_05['avg_PM25'] = partikulasi_polusi_harian_2013_05['avg_PM25'].round()
partikulasi_polusi_harian_2013_05['avg_PM10'] = partikulasi_polusi_harian_2013_05['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_05.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      35.0      91.0
1  2013      5    2      81.0     127.0
2  2013      5    3      85.0      76.0
3  2013      5    4     102.0     121.0
4  2013      5    5     197.0     242.0

In [201]:
# menghitung polutan per hari dari tahun 2013 bulan 06

In [202]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 6 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_06 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_06['avg_PM25'] = partikulasi_polusi_harian_2013_06['avg_PM25'].round()
partikulasi_polusi_harian_2013_06['avg_PM10'] = partikulasi_polusi_harian_2013_06['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_06.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      6    1      70.0     123.0
1  2013      6    2     154.0     184.0
2  2013      6    3     118.0     156.0
3  2013      6    4     123.0     167.0
4  2013      6    5     123.0     118.0

In [203]:
# menghitung polutan per hari dari tahun 2013 bulan 07

In [204]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 7 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_07 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_07['avg_PM25'] = partikulasi_polusi_harian_2013_07['avg_PM25'].round()
partikulasi_polusi_harian_2013_07['avg_PM10'] = partikulasi_polusi_harian_2013_07['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_07.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      7    1     175.0     147.0
1  2013      7    2      14.0      28.0
2  2013      7    3      27.0      80.0
3  2013      7    4      22.0      64.0
4  2013      7    5      20.0      48.0

In [205]:
# menghitung polutan per hari dari tahun 2013 bulan 08

In [206]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 8 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_08 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_08['avg_PM25'] = partikulasi_polusi_harian_2013_08['avg_PM25'].round()
partikulasi_polusi_harian_2013_08['avg_PM10'] = partikulasi_polusi_harian_2013_08['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_08.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      8    1      43.0      38.0
1  2013      8    2      70.0      74.0
2  2013      8    3      26.0      52.0
3  2013      8    4      78.0      93.0
4  2013      8    5      45.0      48.0

In [207]:
# menghitung polutan per hari dari tahun 2013 bulan 09

In [208]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 9 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_09 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_09['avg_PM25'] = partikulasi_polusi_harian_2013_09['avg_PM25'].round()
partikulasi_polusi_harian_2013_09['avg_PM10'] = partikulasi_polusi_harian_2013_09['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_09.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      9    1      42.0      91.0
1  2013      9    2      48.0      76.0
2  2013      9    3      94.0     132.0
3  2013      9    4      70.0      66.0
4  2013      9    5      20.0      24.0

In [209]:
# menghitung polutan per hari dari tahun 2013 bulan 10

In [210]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 5 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_10 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_10['avg_PM25'] = partikulasi_polusi_harian_2013_10['avg_PM25'].round()
partikulasi_polusi_harian_2013_10['avg_PM10'] = partikulasi_polusi_harian_2013_10['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_10.head()

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      35.0      91.0
1  2013      5    2      81.0     127.0
2  2013      5    3      85.0      76.0
3  2013      5    4     102.0     121.0
4  2013      5    5     197.0     242.0

In [211]:
# menghitung polutan per hari dari tahun 2013 bulan 11

In [212]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 11 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_11 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_11['avg_PM25'] = partikulasi_polusi_harian_2013_11['avg_PM25'].round()
partikulasi_polusi_harian_2013_11['avg_PM10'] = partikulasi_polusi_harian_2013_11['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_11.head()

   year  month  day  avg_PM25  avg_PM10
0  2013     11    1     184.0     201.0
1  2013     11    2     228.0     232.0
2  2013     11    3      50.0      54.0
3  2013     11    4      37.0      61.0
4  2013     11    5     166.0     222.0

In [213]:
# menghitung polutan per hari dari tahun 2013 bulan 12

In [214]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 12 and day >= 1 and day <= 30')

partikulasi_polusi_harian_2013_12 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

partikulasi_polusi_harian_2013_12['avg_PM25'] = partikulasi_polusi_harian_2013_12['avg_PM25'].round()
partikulasi_polusi_harian_2013_12['avg_PM10'] = partikulasi_polusi_harian_2013_12['avg_PM10'].round()

# Menampilkan hasil
partikulasi_polusi_harian_2013_12.head()

   year  month  day  avg_PM25  avg_PM10
0  2013     12    1      66.0      96.0
1  2013     12    2     109.0     134.0
2  2013     12    3      74.0     103.0
3  2013     12    4      86.0     108.0
4  2013     12    5      38.0      57.0

In [215]:
# menghitung polusi bulanan 2013 bulan 03 sampai 12

In [216]:
filtered_df = aotizhongxin_df.query('year == 2013 and month >= 3 and month <= 12')

# Menghitung rata-rata PM2.5 dan PM10 per bulan
aotizhongxin_partikulasi_polusi_bulanan_2013 = (
    filtered_df.groupby(['year', 'month'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

# Membulatkan nilai rata-rata
aotizhongxin_partikulasi_polusi_bulanan_2013['avg_PM25'] = aotizhongxin_partikulasi_polusi_bulanan_2013['avg_PM25'].round()
aotizhongxin_partikulasi_polusi_bulanan_2013['avg_PM10'] = aotizhongxin_partikulasi_polusi_bulanan_2013['avg_PM10'].round()

# Menampilkan hasil
aotizhongxin_partikulasi_polusi_bulanan_2013.head()

   year  month  avg_PM25  avg_PM10
0  2013      3     110.0     145.0
1  2013      4      63.0     108.0
2  2013      5      85.0     141.0
3  2013      6     106.0     129.0
4  2013      7      69.0      85.0

In [217]:
# menghitung polusi bulanan 2014 bulan 1 sampai 12

In [218]:
filtered_df = aotizhongxin_df.query('year == 2014 and month >= 1 and month <= 12')

# Menghitung rata-rata PM2.5 dan PM10 per bulan
aotizhongxin_partikulasi_polusi_bulanan_2014 = (
    filtered_df.groupby(['year', 'month'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

# Membulatkan nilai rata-rata
aotizhongxin_partikulasi_polusi_bulanan_2014['avg_PM25'] = aotizhongxin_partikulasi_polusi_bulanan_2014['avg_PM25'].round()
aotizhongxin_partikulasi_polusi_bulanan_2014['avg_PM10'] = aotizhongxin_partikulasi_polusi_bulanan_2014['avg_PM10'].round()

# Menampilkan hasil
aotizhongxin_partikulasi_polusi_bulanan_2014.head()

   year  month  avg_PM25  avg_PM10
0  2014      1      95.0     125.0
1  2014      2     150.0     156.0
2  2014      3      99.0     147.0
3  2014      4     103.0     168.0
4  2014      5      71.0     134.0

In [219]:
# menghitung polusi bulanan 2015 bulan 1 sampai 12

In [220]:
filtered_df = aotizhongxin_df.query('year == 2015 and month >= 1 and month <= 12')

# Menghitung rata-rata PM2.5 dan PM10 per bulan
aotizhongxin_partikulasi_polusi_bulanan_2015 = (
    filtered_df.groupby(['year', 'month'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

# Membulatkan nilai rata-rata
aotizhongxin_partikulasi_polusi_bulanan_2015['avg_PM25'] = aotizhongxin_partikulasi_polusi_bulanan_2015['avg_PM25'].round()
aotizhongxin_partikulasi_polusi_bulanan_2015['avg_PM10'] = aotizhongxin_partikulasi_polusi_bulanan_2015['avg_PM10'].round()

# Menampilkan hasil
aotizhongxin_partikulasi_polusi_bulanan_2015.head()

   year  month  avg_PM25  avg_PM10
0  2015      1      91.0     115.0
1  2015      2      85.0     123.0
2  2015      3      88.0     156.0
3  2015      4      77.0     135.0
4  2015      5      59.0     110.0

In [221]:
# menghitung polusi bulanan 2016 bulan 1 sampai 12

In [222]:
filtered_df = aotizhongxin_df.query('year == 2016 and month >= 1 and month <= 12')

# Menghitung rata-rata PM2.5 dan PM10 per bulan
aotizhongxin_partikulasi_polusi_bulanan_2016 = (
    filtered_df.groupby(['year', 'month'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

# Membulatkan nilai rata-rata
aotizhongxin_partikulasi_polusi_bulanan_2016['avg_PM25'] = aotizhongxin_partikulasi_polusi_bulanan_2016['avg_PM25'].round()
aotizhongxin_partikulasi_polusi_bulanan_2016['avg_PM10'] = aotizhongxin_partikulasi_polusi_bulanan_2016['avg_PM10'].round()

# Menampilkan hasil
aotizhongxin_partikulasi_polusi_bulanan_2016.head()

   year  month  avg_PM25  avg_PM10
0  2016      1      68.0      86.0
1  2016      2      45.0      61.0
2  2016      3     103.0     155.0
3  2016      4      71.0     115.0
4  2016      5      53.0      76.0

In [223]:
# menghitung polusi bulanan 2017 bulan 1 sampai 12

In [224]:
filtered_df = aotizhongxin_df.query('year == 2017 and month >= 1 and month <= 12')

# Menghitung rata-rata PM2.5 dan PM10 per bulan
aotizhongxin_partikulasi_polusi_bulanan_2017 = (
    filtered_df.groupby(['year', 'month'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'))
    .reset_index()
)

# Membulatkan nilai rata-rata
aotizhongxin_partikulasi_polusi_bulanan_2017['avg_PM25'] = aotizhongxin_partikulasi_polusi_bulanan_2017['avg_PM25'].round()
aotizhongxin_partikulasi_polusi_bulanan_2017['avg_PM10'] = aotizhongxin_partikulasi_polusi_bulanan_2017['avg_PM10'].round()

# Menampilkan hasil
aotizhongxin_partikulasi_polusi_bulanan_2017.head()

   year  month  avg_PM25  avg_PM10
0  2017      1     116.0     128.0
1  2017      2      71.0      84.0

In [225]:
# Fungsi untuk menjalankan query SQL
pysqldf = lambda q: sqldf(q, globals())

In [226]:
aotizhongxin_df[['PM2.5', 'PM10','NO2' ,'CO','year','month','day','hour']].corr(method='spearman')

,PM2.5,PM10,NO2,CO,year,month,day,hour
PM2.5,1.000000,0.891137,0.682801,0.812637,-0.077156,-0.000423,0.015514,-0.011784
PM10,0.891137,1.000000,0.650496,0.714457,-0.113780,-0.032970,0.034192,0.031203
NO2,0.682801,0.650496,1.000000,0.735803,-0.153301,0.101877,0.012201,-0.075936
CO,0.812637,0.714457,0.735803,1.000000,-0.021805,0.044578,0.006298,-0.034026
year,-0.077156,-0.113780,-0.153301,-0.021805,1.000000,-0.184746,-0.004935,0.000000
month,-0.000423,-0.032970,0.101877,0.044578,-0.184746,1.000000,0.010475,0.000000
day,0.015514,0.034192,0.012201,0.006298,-0.004935,0.010475,1.000000,0.000000
hour,-0.011784,0.031203,-0.075936,-0.034026,0.000000,0.000000,0.000000,1.000000



1.   Item daftar
2.   Item daftar
3.   Item daftar
4.   Item daftar

##### 7.1.1.3 pola perubahan kualitas udara

In [227]:
# pola perubahan kualitas udara mingguan 2013 bulan 03

In [228]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 3 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_03 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_03['avg_PM25'] = pola_perubahan_kualitas_harian_2013_03['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_03['avg_PM10'] = pola_perubahan_kualitas_harian_2013_03['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_03['avg_NO2'] = pola_perubahan_kualitas_harian_2013_03['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_03['avg_CO'] = pola_perubahan_kualitas_harian_2013_03['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_03.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      3    1       7.0      11.0     23.0   429.0
1  2013      3    2      31.0      42.0     67.0   825.0
2  2013      3    3      77.0     121.0     81.0  1621.0
3  2013      3    4      23.0      45.0     46.0   606.0
4  2013      3    5     149.0     184.0    133.0  2358.0

In [229]:
# pola perubahan kualitas udara mingguan 2013 bulan 04

In [230]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 4 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_04 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_04['avg_PM25'] = pola_perubahan_kualitas_harian_2013_04['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_04['avg_PM10'] = pola_perubahan_kualitas_harian_2013_04['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_04['avg_NO2'] = pola_perubahan_kualitas_harian_2013_04['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_04['avg_CO'] = pola_perubahan_kualitas_harian_2013_04['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_04.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      4    1      95.0     113.0     39.0  1208.0
1  2013      4    2     100.0     141.0     69.0  1317.0
2  2013      4    3     124.0     205.0     88.0  1454.0
3  2013      4    4      67.0     111.0     85.0  2270.0
4  2013      4    5      55.0      50.0     41.0  1179.0

In [231]:
# pola perubahan kualitas udara mingguan 2013 bulan 05

In [232]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 5 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_05 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_05['avg_PM25'] = pola_perubahan_kualitas_harian_2013_05['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_05['avg_PM10'] = pola_perubahan_kualitas_harian_2013_05['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_05['avg_NO2'] = pola_perubahan_kualitas_harian_2013_05['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_05['avg_CO'] = pola_perubahan_kualitas_harian_2013_05['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_05.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      5    1      35.0      91.0     48.0   565.0
1  2013      5    2      81.0     127.0     64.0  1000.0
2  2013      5    3      85.0      76.0     30.0   671.0
3  2013      5    4     102.0     121.0     37.0   638.0
4  2013      5    5     197.0     242.0     72.0  1367.0

In [233]:
# pola perubahan kualitas udara mingguan 2013 bulan 06

In [234]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 6 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_06 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_06['avg_PM25'] = pola_perubahan_kualitas_harian_2013_06['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_06['avg_PM10'] = pola_perubahan_kualitas_harian_2013_06['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_06['avg_NO2'] = pola_perubahan_kualitas_harian_2013_06['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_06['avg_CO'] = pola_perubahan_kualitas_harian_2013_06['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_06.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      6    1      70.0     123.0     61.0   571.0
1  2013      6    2     154.0     184.0     68.0  1546.0
2  2013      6    3     118.0     156.0     79.0  1267.0
3  2013      6    4     123.0     167.0     89.0  1671.0
4  2013      6    5     123.0     118.0     56.0  1537.0

In [235]:
# pola perubahan kualitas udara mingguan 2013 bulan 07

In [236]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 7 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_07 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_07['avg_PM25'] = pola_perubahan_kualitas_harian_2013_07['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_07['avg_PM10'] = pola_perubahan_kualitas_harian_2013_07['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_07['avg_NO2'] = pola_perubahan_kualitas_harian_2013_07['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_07['avg_CO'] = pola_perubahan_kualitas_harian_2013_07['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_07.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      7    1     175.0     147.0     73.0  2102.0
1  2013      7    2      14.0      28.0     44.0   375.0
2  2013      7    3      27.0      80.0     72.0   504.0
3  2013      7    4      22.0      64.0     57.0   400.0
4  2013      7    5      20.0      48.0     46.0   350.0

In [237]:
# pola perubahan kualitas udara mingguan 2013 bulan 07

In [238]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 7 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_07 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_07['avg_PM25'] = pola_perubahan_kualitas_harian_2013_07['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_07['avg_PM10'] = pola_perubahan_kualitas_harian_2013_07['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_07['avg_NO2'] = pola_perubahan_kualitas_harian_2013_07['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_07['avg_CO'] = pola_perubahan_kualitas_harian_2013_07['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_07.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      7    1     175.0     147.0     73.0  2102.0
1  2013      7    2      14.0      28.0     44.0   375.0
2  2013      7    3      27.0      80.0     72.0   504.0
3  2013      7    4      22.0      64.0     57.0   400.0
4  2013      7    5      20.0      48.0     46.0   350.0

In [239]:
# pola perubahan kualitas udara mingguan 2013 bulan 08

In [240]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 8 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_08 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_08['avg_PM25'] = pola_perubahan_kualitas_harian_2013_08['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_08['avg_PM10'] = pola_perubahan_kualitas_harian_2013_08['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_08['avg_NO2'] = pola_perubahan_kualitas_harian_2013_08['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_08['avg_CO'] = pola_perubahan_kualitas_harian_2013_08['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_08.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      8    1      43.0      38.0     63.0   623.0
1  2013      8    2      70.0      74.0     59.0   825.0
2  2013      8    3      26.0      52.0     44.0   340.0
3  2013      8    4      78.0      93.0     41.0   643.0
4  2013      8    5      45.0      48.0     48.0   460.0

In [241]:
# pola perubahan kualitas udara mingguan 2013 bulan 09

In [242]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 9 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_09 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_09['avg_PM25'] = pola_perubahan_kualitas_harian_2013_09['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_09['avg_PM10'] = pola_perubahan_kualitas_harian_2013_09['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_09['avg_NO2'] = pola_perubahan_kualitas_harian_2013_09['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_09['avg_CO'] = pola_perubahan_kualitas_harian_2013_09['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_09.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013      9    1      42.0      91.0     50.0   858.0
1  2013      9    2      48.0      76.0     51.0   812.0
2  2013      9    3      94.0     132.0     56.0  1033.0
3  2013      9    4      70.0      66.0     52.0   917.0
4  2013      9    5      20.0      24.0     38.0   488.0

In [243]:
# pola perubahan kualitas udara mingguan 2013 bulan 10

In [244]:
filtered_df = aotizhongxin_df.query('year == 2013 and month ==10 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_10 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_10['avg_PM25'] = pola_perubahan_kualitas_harian_2013_10['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_10['avg_PM10'] = pola_perubahan_kualitas_harian_2013_10['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_10['avg_NO2'] = pola_perubahan_kualitas_harian_2013_10['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_10['avg_CO'] = pola_perubahan_kualitas_harian_2013_10['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_10.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013     10    1      76.0      86.0     61.0  1029.0
1  2013     10    2      16.0      30.0     39.0   304.0
2  2013     10    3      57.0      92.0     63.0  1167.0
3  2013     10    4     139.0     171.0     92.0  2121.0
4  2013     10    5     281.0     300.0    113.0  2267.0

In [245]:
# pola perubahan kualitas udara mingguan 2013 bulan 11

In [246]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 11 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_11 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_11['avg_PM25'] = pola_perubahan_kualitas_harian_2013_11['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_11['avg_PM10'] = pola_perubahan_kualitas_harian_2013_11['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_11['avg_NO2'] = pola_perubahan_kualitas_harian_2013_11['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_11['avg_CO'] = pola_perubahan_kualitas_harian_2013_11['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_11.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013     11    1     184.0     201.0    106.0  1758.0
1  2013     11    2     228.0     232.0    112.0  2042.0
2  2013     11    3      50.0      54.0     43.0   692.0
3  2013     11    4      37.0      61.0     59.0   675.0
4  2013     11    5     166.0     222.0    100.0  2117.0

In [247]:
# pola perubahan kualitas udara mingguan 2013 bulan 12

In [248]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 12 and day >= 1 and day <= 30')

pola_perubahan_kualitas_harian_2013_12 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

pola_perubahan_kualitas_harian_2013_12['avg_PM25'] = pola_perubahan_kualitas_harian_2013_12['avg_PM25'].round()
pola_perubahan_kualitas_harian_2013_12['avg_PM10'] = pola_perubahan_kualitas_harian_2013_12['avg_PM10'].round()
pola_perubahan_kualitas_harian_2013_12['avg_NO2'] = pola_perubahan_kualitas_harian_2013_12['avg_NO2'].round()
pola_perubahan_kualitas_harian_2013_12['avg_CO'] = pola_perubahan_kualitas_harian_2013_12['avg_CO'].round()

# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_12.head()

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013     12    1      66.0      96.0     74.0  1500.0
1  2013     12    2     109.0     134.0     84.0  2683.0
2  2013     12    3      74.0     103.0     62.0  1875.0
3  2013     12    4      86.0     108.0     71.0  2154.0
4  2013     12    5      38.0      57.0     44.0  1175.0

##### 7.1.1.4 KORELASI SUHU DAN TEMP DAN PERBANDINGAN DENGAN PRES

In [249]:
# KORELASI SUHU DAN TEMP DAN PERBANDINGAN DENGAN PRES MINGGUAN AOTI 2013 03

In [250]:
filtered_df = aotizhongxin_df.query('year == 2013 and month == 3 and day >= 1 and day <= 30')

KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03  = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_TEMP=('TEMP', 'mean'), avg_O3=('O3', 'mean'), avg_PRES=('PRES', 'mean'))
    .reset_index()
)

KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_TEMP'] = KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_TEMP'].round()
KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_O3'] = KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_O3'].round()
KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_PRES'] = KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03['avg_PRES'].round()

# Menampilkan hasil
KORELASI_SUHU_DAN_TEMP_DAN_PERBANDINGAN_DENGAN_PRES_MINGGUAN_AOTI_2013_03.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      3    1       1.0    64.0    1027.0
1  2013      3    2       1.0    30.0    1027.0
2  2013      3    3       6.0    19.0    1015.0
3  2013      3    4      10.0    54.0    1018.0
4  2013      3    5       6.0    68.0    1011.0

In [251]:
# Proses dataset Changping untuk April 2013
KORELASI_AOTIZHONGXIN_2013_04 = korelasi_suhu(aotizhongxin_df, year=2013, month=4, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_04.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      4    1      10.0    51.0    1012.0
1  2013      4    2      10.0    53.0    1011.0
2  2013      4    3      12.0    46.0    1007.0
3  2013      4    4       8.0    19.0    1009.0
4  2013      4    5       9.0    37.0    1013.0

In [252]:
# Proses dataset Changping untuk April 2013
KORELASI_AOTIZHONGXIN_2013_05 = korelasi_suhu(aotizhongxin_df, year=2013, month=5, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_05.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      5    1      17.0    69.0    1009.0
1  2013      5    2      19.0    92.0    1006.0
2  2013      5    3      18.0   105.0    1011.0
3  2013      5    4      19.0    93.0    1011.0
4  2013      5    5      21.0    78.0    1011.0

In [253]:
# Proses dataset Changping untuk April 2013
KORELASI_AOTIZHONGXIN_2013_06 = korelasi_suhu(aotizhongxin_df, year=2013, month=6, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_06.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      6    1      25.0    78.0    1001.0
1  2013      6    2      22.0    72.0     999.0
2  2013      6    3      25.0   111.0     999.0
3  2013      6    4      21.0    60.0    1006.0
4  2013      6    5      19.0    22.0    1006.0

In [254]:
# Proses dataset Changping untuk Juli 2013
KORELASI_AOTIZHONGXIN_2013_07= korelasi_suhu(aotizhongxin_df, year=2013, month=7, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_07.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      7    1      25.0     7.0     993.0
1  2013      7    2      29.0    75.0     990.0
2  2013      7    3      29.0    62.0     990.0
3  2013      7    4      28.0    68.0     989.0
4  2013      7    5      29.0    86.0     993.0

In [255]:
# Proses dataset Changping untuk April 2013
KORELASI_AOTIZHONGXIN_2013_08 = korelasi_suhu(aotizhongxin_df, year=2013, month=8, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_08.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      8    1      23.0    43.0     998.0
1  2013      8    2      26.0    75.0    1000.0
2  2013      8    3      27.0    90.0     998.0
3  2013      8    4      27.0   114.0     994.0
4  2013      8    5      27.0   130.0     993.0

In [256]:
KORELASI_AOTIZHONGXIN_2013_09 = korelasi_suhu(aotizhongxin_df, year=2013, month=9, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_09.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      9    1      23.0    73.0    1008.0
1  2013      9    2      23.0    79.0    1010.0
2  2013      9    3      23.0    85.0    1011.0
3  2013      9    4      20.0    48.0    1011.0
4  2013      9    5      21.0    51.0    1009.0

In [257]:
KORELASI_AOTIZHONGXIN_2013_10 = korelasi_suhu(aotizhongxin_df, year=2013, month=10, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_10.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     10    1      17.0    18.0    1012.0
1  2013     10    2      17.0    40.0    1015.0
2  2013     10    3      15.0    29.0    1013.0
3  2013     10    4      17.0    31.0    1009.0
4  2013     10    5      17.0    32.0    1014.0

In [258]:
KORELASI_AOTIZHONGXIN_2013_11 = korelasi_suhu(aotizhongxin_df, year=2013, month=11, day_start=1, day_end=30)

KORELASI_AOTIZHONGXIN_2013_11.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     11    1       8.0     4.0    1020.0
1  2013     11    2       8.0     9.0    1016.0
2  2013     11    3      11.0    31.0    1019.0
3  2013     11    4       9.0    17.0    1022.0
4  2013     11    5       9.0     2.0    1015.0

In [259]:
KORELASI_AOTIZHONGXIN_2013_12 = korelasi_suhu(aotizhongxin_df, year=2013, month=12, day_start=1, day_end=30)
KORELASI_AOTIZHONGXIN_2013_12.head()

   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     12    1       2.0     5.0    1017.0
1  2013     12    2       2.0     1.0    1013.0
2  2013     12    3       4.0    14.0    1016.0
3  2013     12    4       4.0     6.0    1014.0
4  2013     12    5       6.0    18.0    1018.0

In [260]:
# Daftar bulan untuk diproses
months = range(4, 13)  # Dari April (4) hingga Desember (12)
korelasi_aotizhongxin = {}

for month in months:
    korelasi_aotizhongxin[month] = korelasi_suhu(aotizhongxin_df, year=2013, month=month, day_start=1, day_end=30)
    print(f"Korelasi Aotizhongxin untuk bulan {month}:")
    print(korelasi_aotizhongxin[month].head())

# Memproses untuk bulan Desember dengan filter
filtered_df = aotizhongxin_df.query('year == 2013 and month == 12 and day >= 1 and day <= 30')
pola_perubahan_kualitas_harian_2013_12 = (
    filtered_df.groupby(['year', 'month', 'day'])
    .agg(avg_PM25=('PM2.5', 'mean'), avg_PM10=('PM10', 'mean'), avg_NO2=('NO2', 'mean'), avg_CO=('CO', 'mean'))
    .reset_index()
)

# Pembulatan nilai rata-rata
pola_perubahan_kualitas_harian_2013_12 = pola_perubahan_kualitas_harian_2013_12.round()
# Menampilkan hasil
pola_perubahan_kualitas_harian_2013_12.head()

Korelasi Aotizhongxin untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      4    1      10.0    51.0    1012.0
1  2013      4    2      10.0    53.0    1011.0
2  2013      4    3      12.0    46.0    1007.0
3  2013      4    4       8.0    19.0    1009.0
4  2013      4    5       9.0    37.0    1013.0
Korelasi Aotizhongxin untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      5    1      17.0    69.0    1009.0
1  2013      5    2      19.0    92.0    1006.0
2  2013      5    3      18.0   105.0    1011.0
3  2013      5    4      19.0    93.0    1011.0
4  2013      5    5      21.0    78.0    1011.0
Korelasi Aotizhongxin untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      6    1      25.0    78.0    1001.0
1  2013      6    2      22.0    72.0     999.0
2  2013      6    3      25.0   111.0     999.0
3  2013      6    4      21.0    60.0    1006.0
4  2013      6    5      19.0    22.0    1006.0
Korelasi Aotizhongxin untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      7    1      25.0     7.0     993.0
1  2013      7    2      29.0    75.0     990.0
2  2013      7    3      29.0    62.0     990.0
3  2013      7    4      28.0    68.0     989.0
4  2013      7    5      29.0    86.0     993.0
Korelasi Aotizhongxin untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      8    1      23.0    43.0     998.0
1  2013      8    2      26.0    75.0    1000.0
2  2013      8    3      27.0    90.0     998.0
3  2013      8    4      27.0   114.0     994.0
4  2013      8    5      27.0   130.0     993.0
Korelasi Aotizhongxin untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      9    1      23.0    73.0    1008.0
1  2013      9    2      23.0    79.0    1010.0
2  2013      9    3      23.0    85.0    1011.0
3  2013      9    4      20.0    48.0    1011.0
4  2013      9    5      21.0    51.0    1009.0
Korelasi Aotizhongxin untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     10    1      17.0    18.0    1012.0
1  2013     10    2      17.0    40.0    1015.0
2  2013     10    3      15.0    29.0    1013.0
3  2013     10    4      17.0    31.0    1009.0
4  2013     10    5      17.0    32.0    1014.0
Korelasi Aotizhongxin untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     11    1       8.0     4.0    1020.0
1  2013     11    2       8.0     9.0    1016.0
2  2013     11    3      11.0    31.0    1019.0
3  2013     11    4       9.0    17.0    1022.0
4  2013     11    5       9.0     2.0    1015.0
Korelasi Aotizhongxin untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     12    1       2.0     5.0    1017.0
1  2013     12    2       2.0     1.0    1013.0
2  2013     12    3       4.0    14.0    1016.0
3  2013     12    4       4.0     6.0    1014.0
4  2013     12    5       6.0    18.0    1018.0

   year  month  day  avg_PM25  avg_PM10  avg_NO2  avg_CO
0  2013     12    1      66.0      96.0     74.0  1500.0
1  2013     12    2     109.0     134.0     84.0  2683.0
2  2013     12    3      74.0     103.0     62.0  1875.0
3  2013     12    4      86.0     108.0     71.0  2154.0
4  2013     12    5      38.0      57.0     44.0  1175.0

### 7.2.1 Changpig

#### 7.2.1.1 Korelasi suhu

##### 7.2.1.1 suhu bulanan 2013-2017

In [261]:
months = range(3, 13)  
korelasi_changping_suhu_bulanan_2013 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2013[month] = korelasi_suhu(changping_df, year=2013, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2013[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 3:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      3    1       1.0    78.0    1024.0
1  2013      3    2      -0.0    29.0    1024.0
2  2013      3    3       5.0    31.0    1011.0
3  2013      3    4       9.0    66.0    1014.0
4  2013      3    5       6.0    89.0    1008.0
Korelasi Changping untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      4    1      10.0    57.0    1009.0
1  2013      4    2      10.0    77.0    1008.0
2  2013      4    3      12.0    72.0    1003.0
3  2013      4    4       8.0    33.0    1006.0
4  2013      4    5       8.0    42.0    1010.0
Korelasi Changping untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      5    1      18.0    89.0    1006.0
1  2013      5    2      19.0    92.0    1003.0
2  2013      5    3      18.0   121.0    1008.0
3  2013      5    4      19.0   110.0    1007.0
4  2013      5    5      21.0   143.0    1007.0
Korelasi Changping untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      6    1      25.0    95.0     998.0
1  2013      6    2      22.0    77.0     996.0
2  2013      6    3      26.0   136.0     996.0
3  2013      6    4      21.0    77.0    1003.0
4  2013      6    5      19.0    24.0    1003.0
Korelasi Changping untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      7    1      25.0    34.0     990.0
1  2013      7    2      29.0    77.0     987.0
2  2013      7    3      30.0    77.0     987.0
3  2013      7    4      28.0    69.0     986.0
4  2013      7    5      30.0    81.0     989.0
Korelasi Changping untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      8    1      24.0    71.0     995.0
1  2013      8    2      25.0   101.0     997.0
2  2013      8    3      28.0   145.0     995.0
3  2013      8    4      27.0   138.0     991.0
4  2013      8    5      27.0   124.0     989.0
Korelasi Changping untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013      9    1      22.0    68.0    1005.0
1  2013      9    2      23.0    98.0    1007.0
2  2013      9    3      23.0   120.0    1007.0
3  2013      9    4      20.0    74.0    1007.0
4  2013      9    5      22.0    67.0    1006.0
Korelasi Changping untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     10    1      18.0    34.0    1008.0
1  2013     10    2      17.0    44.0    1012.0
2  2013     10    3      16.0    42.0    1009.0
3  2013     10    4      17.0    45.0    1005.0
4  2013     10    5      18.0    47.0    1011.0
Korelasi Changping untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     11    1       8.0    10.0    1017.0
1  2013     11    2       9.0     9.0    1013.0
2  2013     11    3      13.0    38.0    1016.0
3  2013     11    4      11.0    28.0    1019.0
4  2013     11    5      10.0    13.0    1012.0
Korelasi Changping untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2013     12    1       6.0    33.0    1014.0
1  2013     12    2       5.0    11.0    1010.0
2  2013     12    3       9.0    36.0    1013.0
3  2013     12    4       9.0    21.0    1011.0
4  2013     12    5       6.0    37.0    1015.0

In [262]:
months = range(1, 13)  # Start from 1 (January) to 12 (December)
korelasi_changping_suhu_bulanan_2014 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2014[month] = korelasi_suhu(changping_df, year=2014, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2014[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 1:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      1    1       7.0    43.0    1006.0
1  2014      1    2       2.0    13.0    1009.0
2  2014      1    3       5.0    46.0    1013.0
3  2014      1    4      -1.0    12.0    1013.0
4  2014      1    5       2.0    27.0    1015.0
Korelasi Changping untuk bulan 2:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      2    1       3.0    11.0    1006.0
1  2014      2    2       4.0    46.0    1007.0
2  2014      2    3      -1.0    73.0    1018.0
3  2014      2    4      -3.0    66.0    1020.0
4  2014      2    5      -3.0    32.0    1019.0
Korelasi Changping untuk bulan 3:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      3    1       5.0     8.0    1014.0
1  2014      3    2       4.0     7.0    1013.0
2  2014      3    3       2.0     4.0    1013.0
3  2014      3    4       4.0    28.0    1017.0
4  2014      3    5       3.0    51.0    1019.0
Korelasi Changping untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      4    1      16.0    75.0    1003.0
1  2014      4    2      18.0    79.0    1006.0
2  2014      4    3      15.0    63.0    1014.0
3  2014      4    4      15.0    55.0    1006.0
4  2014      4    5      14.0    84.0    1013.0
Korelasi Changping untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      5    1      19.0    93.0    1000.0
1  2014      5    2      16.0    81.0    1007.0
2  2014      5    3      15.0    61.0    1004.0
3  2014      5    4      13.0    75.0    1009.0
4  2014      5    5      15.0    71.0    1008.0
Korelasi Changping untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      6    1      23.0   127.0    1000.0
1  2014      6    2      22.0    99.0    1003.0
2  2014      6    3      26.0   130.0     999.0
3  2014      6    4      26.0   123.0     997.0
4  2014      6    5      28.0   145.0     995.0
Korelasi Changping untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      7    1      28.0   154.0     996.0
1  2014      7    2      23.0   112.0     994.0
2  2014      7    3      26.0    98.0     992.0
3  2014      7    4      28.0   121.0     996.0
4  2014      7    5      28.0   130.0     998.0
Korelasi Changping untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      8    1      28.0   124.0     997.0
1  2014      8    2      30.0   140.0     994.0
2  2014      8    3      29.0   108.0     992.0
3  2014      8    4      25.0    44.0     996.0
4  2014      8    5      26.0    71.0     998.0
Korelasi Changping untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014      9    1      22.0    79.0    1004.0
1  2014      9    2      20.0    42.0    1002.0
2  2014      9    3      24.0    70.0    1000.0
3  2014      9    4      26.0    76.0     996.0
4  2014      9    5      25.0   141.0    1001.0
Korelasi Changping untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014     10    1      11.0     6.0    1007.0
1  2014     10    2      14.0    18.0    1004.0
2  2014     10    3      14.0    15.0    1009.0
3  2014     10    4      15.0    38.0    1010.0
4  2014     10    5      16.0    46.0    1016.0
Korelasi Changping untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014     11    1      12.0    24.0    1011.0
1  2014     11    2      10.0    41.0    1015.0
2  2014     11    3      11.0    42.0    1013.0
3  2014     11    4       9.0    43.0    1014.0
4  2014     11    5      12.0    40.0    1012.0
Korelasi Changping untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2014     12    1      -4.0    45.0    1019.0
1  2014     12    2      -4.0    28.0    1017.0
2  2014     12    3      -3.0    44.0    1017.0
3  2014     12    4      -2.0    48.0    1022.0
4  2014     12    5      -2.0    42.0    1025.0

In [263]:
months = range(1, 13)  # Start from 1 (January) to 12 (December)
korelasi_changping_suhu_bulanan_2015 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2015[month] = korelasi_suhu(changping_df, year=2015, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2015[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 1:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      1    1      -2.0    37.0    1021.0
1  2015      1    2       0.0    35.0    1019.0
2  2015      1    3      -2.0    13.0    1008.0
3  2015      1    4       0.0    10.0    1007.0
4  2015      1    5       3.0    40.0    1010.0
Korelasi Changping untuk bulan 2:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      2    1      -3.0    18.0    1026.0
1  2015      2    2      -2.0    10.0    1023.0
2  2015      2    3       2.0    32.0    1022.0
3  2015      2    4       1.0    56.0    1023.0
4  2015      2    5       3.0    54.0    1022.0
Korelasi Changping untuk bulan 3:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      3    1       6.0    53.0    1011.0
1  2015      3    2       6.0    44.0    1003.0
2  2015      3    3       1.0    76.0    1015.0
3  2015      3    4       0.0    52.0    1019.0
4  2015      3    5       1.0    38.0    1016.0
Korelasi Changping untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      4    1      10.0    35.0    1011.0
1  2015      4    2       9.0    50.0     994.0
2  2015      4    3      13.0    93.0    1002.0
3  2015      4    4      12.0    75.0    1003.0
4  2015      4    5      12.0    71.0    1009.0
Korelasi Changping untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      5    1      18.0    63.0    1001.0
1  2015      5    2      19.0    64.0    1001.0
2  2015      5    3      19.0    70.0    1005.0
3  2015      5    4      18.0    83.0    1005.0
4  2015      5    5      20.0    75.0     996.0
Korelasi Changping untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      6    1      28.0   147.0     991.0
1  2015      6    2      28.0    75.0     999.0
2  2015      6    3      26.0    74.0    1003.0
3  2015      6    4      22.0    88.0     995.0
4  2015      6    5      23.0   140.0     990.0
Korelasi Changping untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      7    1      25.0    47.0     989.0
1  2015      7    2      27.0    60.0     993.0
2  2015      7    3      26.0    89.0     999.0
3  2015      7    4      22.0    56.0    1001.0
4  2015      7    5      24.0   116.0    1001.0
Korelasi Changping untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      8    1      24.0    60.0     998.0
1  2015      8    2      27.0    91.0     994.0
2  2015      8    3      25.0    41.0     994.0
3  2015      8    4      27.0   103.0     992.0
4  2015      8    5      26.0   119.0     994.0
Korelasi Changping untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015      9    1      22.0    35.0    1004.0
1  2015      9    2      26.0    54.0    1004.0
2  2015      9    3      26.0    71.0    1005.0
3  2015      9    4      22.0    66.0    1004.0
4  2015      9    5      18.0    69.0    1002.0
Korelasi Changping untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015     10    1      17.0    38.0    1004.0
1  2015     10    2      19.0    36.0    1002.0
2  2015     10    3      19.0    43.0    1011.0
3  2015     10    4      17.0    51.0    1014.0
4  2015     10    5      18.0    99.0    1010.0
Korelasi Changping untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015     11    1      10.0    20.0    1014.0
1  2015     11    2      12.0    26.0    1012.0
2  2015     11    3      10.0    17.0    1013.0
3  2015     11    4      10.0     9.0    1014.0
4  2015     11    5       9.0     8.0    1020.0
Korelasi Changping untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2015     12    1       1.0     6.0    1010.0
1  2015     12    2       2.0    36.0    1011.0
2  2015     12    3      -1.0    28.0    1015.0
3  2015     12    4       2.0    34.0    1017.0
4  2015     12    5       4.0    28.0    1020.0

In [264]:
months = range(1, 13)  # Start from 1 (January) to 12 (December)
korelasi_changping_suhu_bulanan_2016 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2016[month] = korelasi_suhu(changping_df, year=2016, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2016[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 1:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      1    1      -1.0     4.0    1015.0
1  2016      1    2      -0.0     6.0    1011.0
2  2016      1    3      -2.0     7.0    1014.0
3  2016      1    4      -1.0    48.0    1021.0
4  2016      1    5      -3.0    42.0    1021.0
Korelasi Changping untuk bulan 2:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      2    1      -1.0    51.0    1027.0
1  2016      2    2       0.0    55.0    1021.0
2  2016      2    3       1.0    39.0    1019.0
3  2016      2    4       1.0    63.0    1022.0
4  2016      2    5      -0.0    58.0    1022.0
Korelasi Changping untuk bulan 3:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      3    1       2.0    17.0    1015.0
1  2016      3    2       8.0    25.0    1007.0
2  2016      3    3       8.0    26.0    1004.0
3  2016      3    4       7.0    11.0    1009.0
4  2016      3    5       9.0    54.0    1011.0
Korelasi Changping untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      4    1      17.0    56.0    1000.0
1  2016      4    2      15.0    72.0    1011.0
2  2016      4    3      14.0    60.0    1012.0
3  2016      4    4      14.0    66.0    1003.0
4  2016      4    5      16.0    82.0    1003.0
Korelasi Changping untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      5    1      23.0   127.0     992.0
1  2016      5    2      15.0    55.0    1000.0
2  2016      5    3      19.0    54.0     993.0
3  2016      5    4      21.0    60.0     996.0
4  2016      5    5      21.0    66.0     996.0
Korelasi Changping untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      6    1      24.0    92.0    1003.0
1  2016      6    2      25.0   135.0    1000.0
2  2016      6    3      24.0   114.0     997.0
3  2016      6    4      26.0   139.0     997.0
4  2016      6    5      25.0   136.0    1001.0
Korelasi Changping untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      7    1      28.0    79.0     995.0
1  2016      7    2      27.0    96.0     996.0
2  2016      7    3      27.0   133.0     997.0
3  2016      7    4      28.0   139.0     999.0
4  2016      7    5      28.0   148.0    1001.0
Korelasi Changping untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      8    1      28.0    98.0    1000.0
1  2016      8    2      29.0    90.0    1001.0
2  2016      8    3      30.0    97.0    1001.0
3  2016      8    4      30.0   141.0    1001.0
4  2016      8    5      30.0    96.0    1001.0
Korelasi Changping untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      9    1      24.0    45.0     988.0
1  2016      9    2      24.0    23.0     994.0
2  2016      9    3      25.0    56.0     998.0
3  2016      9    4      24.0    97.0    1001.0
4  2016      9    5      24.0    47.0    1001.0
Korelasi Changping untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     10    1      19.0    77.0    1006.0
1  2016     10    2      19.0    67.0    1004.0
2  2016     10    3      22.0    58.0    1002.0
3  2016     10    4      16.0    18.0    1006.0
4  2016     10    5      16.0    29.0    1009.0
Korelasi Changping untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     11    1       2.0    10.0    1025.0
1  2016     11    2       5.0    13.0    1017.0
2  2016     11    3       6.0     5.0    1009.0
3  2016     11    4       7.0     4.0    1000.0
4  2016     11    5       8.0    11.0    1005.0
Korelasi Changping untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     12    1       4.0    30.0    1023.0
1  2016     12    2       2.0     4.0    1020.0
2  2016     12    3       2.0     3.0    1012.0
3  2016     12    4       4.0     8.0    1008.0
4  2016     12    5       2.0    28.0    1019.0

In [265]:
months = range(1, 13)  # Start from 1 (January) to 12 (December)
korelasi_changping_suhu_bulanan_2016 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2016[month] = korelasi_suhu(changping_df, year=2016, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2016[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 1:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      1    1      -1.0     4.0    1015.0
1  2016      1    2      -0.0     6.0    1011.0
2  2016      1    3      -2.0     7.0    1014.0
3  2016      1    4      -1.0    48.0    1021.0
4  2016      1    5      -3.0    42.0    1021.0
Korelasi Changping untuk bulan 2:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      2    1      -1.0    51.0    1027.0
1  2016      2    2       0.0    55.0    1021.0
2  2016      2    3       1.0    39.0    1019.0
3  2016      2    4       1.0    63.0    1022.0
4  2016      2    5      -0.0    58.0    1022.0
Korelasi Changping untuk bulan 3:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      3    1       2.0    17.0    1015.0
1  2016      3    2       8.0    25.0    1007.0
2  2016      3    3       8.0    26.0    1004.0
3  2016      3    4       7.0    11.0    1009.0
4  2016      3    5       9.0    54.0    1011.0
Korelasi Changping untuk bulan 4:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      4    1      17.0    56.0    1000.0
1  2016      4    2      15.0    72.0    1011.0
2  2016      4    3      14.0    60.0    1012.0
3  2016      4    4      14.0    66.0    1003.0
4  2016      4    5      16.0    82.0    1003.0
Korelasi Changping untuk bulan 5:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      5    1      23.0   127.0     992.0
1  2016      5    2      15.0    55.0    1000.0
2  2016      5    3      19.0    54.0     993.0
3  2016      5    4      21.0    60.0     996.0
4  2016      5    5      21.0    66.0     996.0
Korelasi Changping untuk bulan 6:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      6    1      24.0    92.0    1003.0
1  2016      6    2      25.0   135.0    1000.0
2  2016      6    3      24.0   114.0     997.0
3  2016      6    4      26.0   139.0     997.0
4  2016      6    5      25.0   136.0    1001.0
Korelasi Changping untuk bulan 7:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      7    1      28.0    79.0     995.0
1  2016      7    2      27.0    96.0     996.0
2  2016      7    3      27.0   133.0     997.0
3  2016      7    4      28.0   139.0     999.0
4  2016      7    5      28.0   148.0    1001.0
Korelasi Changping untuk bulan 8:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      8    1      28.0    98.0    1000.0
1  2016      8    2      29.0    90.0    1001.0
2  2016      8    3      30.0    97.0    1001.0
3  2016      8    4      30.0   141.0    1001.0
4  2016      8    5      30.0    96.0    1001.0
Korelasi Changping untuk bulan 9:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016      9    1      24.0    45.0     988.0
1  2016      9    2      24.0    23.0     994.0
2  2016      9    3      25.0    56.0     998.0
3  2016      9    4      24.0    97.0    1001.0
4  2016      9    5      24.0    47.0    1001.0
Korelasi Changping untuk bulan 10:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     10    1      19.0    77.0    1006.0
1  2016     10    2      19.0    67.0    1004.0
2  2016     10    3      22.0    58.0    1002.0
3  2016     10    4      16.0    18.0    1006.0
4  2016     10    5      16.0    29.0    1009.0
Korelasi Changping untuk bulan 11:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     11    1       2.0    10.0    1025.0
1  2016     11    2       5.0    13.0    1017.0
2  2016     11    3       6.0     5.0    1009.0
3  2016     11    4       7.0     4.0    1000.0
4  2016     11    5       8.0    11.0    1005.0
Korelasi Changping untuk bulan 12:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2016     12    1       4.0    30.0    1023.0
1  2016     12    2       2.0     4.0    1020.0
2  2016     12    3       2.0     3.0    1012.0
3  2016     12    4       4.0     8.0    1008.0
4  2016     12    5       2.0    28.0    1019.0

In [266]:
months = range(1, 2)  # Start from 1 (January) to 12 (December)
korelasi_changping_suhu_bulanan_2017 = {}

for month in months:
    # Call the korelasi_suhu function for each month and store the result
    korelasi_changping_suhu_bulanan_2017[month] = korelasi_suhu(changping_df, year=2017, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"Korelasi Changping untuk bulan {month}:")
    print(korelasi_changping_suhu_bulanan_2017[month].head())  # Print the first few rows of the result

Korelasi Changping untuk bulan 1:
   year  month  day  avg_TEMP  avg_O3  avg_PRES
0  2017      1    1      -3.0     5.0    1016.0
1  2017      1    2       2.0    27.0    1016.0
2  2017      1    3       0.0     8.0    1013.0
3  2017      1    4       0.0     8.0    1017.0
4  2017      1    5       0.0    10.0    1021.0

##### 7.2.1.2 partikulasi polusi changping 2013-2017

In [267]:
months = range(1, 13)  # Start from 1 (January) to 12 (December)
partikulasi_polusi_changping_suhu_bulanan_2014 = {}

for month in months:

    partikulasi_polusi_changping_suhu_bulanan_2014[month] = partikulasi_polusi(changping_df, year=2014, month=month, day_start=1, day_end=30)
    
    # Print the first few rows of the result for each month
    print(f"partikulasi_polusi_Changping untuk bulan {month}:")
    print(partikulasi_polusi_changping_suhu_bulanan_2014[month].head())

partikulasi_polusi_Changping untuk bulan 1:
   year  month  day  avg_PM25  avg_PM10
0  2014      1    1      39.0      95.0
1  2014      1    2     116.0     155.0
2  2014      1    3      36.0      86.0
3  2014      1    4     107.0     130.0
4  2014      1    5      63.0      69.0
partikulasi_polusi_Changping untuk bulan 2:
   year  month  day  avg_PM25  avg_PM10
0  2014      2    1     143.0     146.0
1  2014      2    2      58.0      92.0
2  2014      2    3       7.0      34.0
3  2014      2    4      17.0      28.0
4  2014      2    5      78.0      92.0
partikulasi_polusi_Changping untuk bulan 3:
   year  month  day  avg_PM25  avg_PM10
0  2014      3    1      60.0      70.0
1  2014      3    2     121.0     151.0
2  2014      3    3     231.0     252.0
3  2014      3    4      47.0      56.0
4  2014      3    5      16.0      30.0
partikulasi_polusi_Changping untuk bulan 4:
   year  month  day  avg_PM25  avg_PM10
0  2014      4    1      95.0      94.0
1  2014      4    2      78.0     136.0
2  2014      4    3      23.0      67.0
3  2014      4    4      29.0     119.0
4  2014      4    5      15.0      57.0
partikulasi_polusi_Changping untuk bulan 5:
   year  month  day  avg_PM25  avg_PM10
0  2014      5    1     115.0     201.0
1  2014      5    2      20.0      48.0
2  2014      5    3      28.0     110.0
3  2014      5    4      22.0      63.0
4  2014      5    5      17.0      43.0
partikulasi_polusi_Changping untuk bulan 6:
   year  month  day  avg_PM25  avg_PM10
0  2014      6    1      37.0      50.0
1  2014      6    2      23.0      31.0
2  2014      6    3      30.0      43.0
3  2014      6    4      54.0      78.0
4  2014      6    5      51.0      71.0
partikulasi_polusi_Changping untuk bulan 7:
   year  month  day  avg_PM25  avg_PM10
0  2014      7    1     102.0     136.0
1  2014      7    2      55.0      55.0
2  2014      7    3     190.0     184.0
3  2014      7    4     167.0     172.0
4  2014      7    5     142.0     146.0
partikulasi_polusi_Changping untuk bulan 8:
   year  month  day  avg_PM25  avg_PM10
0  2014      8    1     170.0     174.0
1  2014      8    2     138.0     145.0
2  2014      8    3     108.0     117.0
3  2014      8    4      23.0      36.0
4  2014      8    5      29.0      50.0
partikulasi_polusi_Changping untuk bulan 9:
   year  month  day  avg_PM25  avg_PM10
0  2014      9    1      76.0      77.0
1  2014      9    2      17.0      19.0
2  2014      9    3      14.0      29.0
3  2014      9    4      39.0      89.0
4  2014      9    5      80.0     124.0
partikulasi_polusi_Changping untuk bulan 10:
   year  month  day  avg_PM25  avg_PM10
0  2014     10    1      58.0      71.0
1  2014     10    2      43.0      43.0
2  2014     10    3      75.0      78.0
3  2014     10    4      80.0      80.0
4  2014     10    5      23.0      23.0
partikulasi_polusi_Changping untuk bulan 11:
   year  month  day  avg_PM25  avg_PM10
0  2014     11    1      26.0      46.0
1  2014     11    2      10.0      38.0
2  2014     11    3      18.0      45.0
3  2014     11    4      79.0     114.0
4  2014     11    5      51.0      78.0
partikulasi_polusi_Changping untuk bulan 12:
   year  month  day  avg_PM25  avg_PM10
0  2014     12    1      14.0      76.0
1  2014     12    2      33.0      50.0
2  2014     12    3      14.0      46.0
3  2014     12    4      11.0      35.0
4  2014     12    5      17.0      40.0

### 7.3.1 Dingling

In [268]:
months = range(3, 13)
partikulasi_polusi_dingling_suhu_bulanan_2013 = {}

for month in months:
    partikulasi_polusi_dingling_suhu_bulanan_2013[month] = partikulasi_polusi(dingling_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dingling_suhu_bulanan_2013[month]['avg_PM25'] = round(partikulasi_polusi_dingling_suhu_bulanan_2013[month]['avg_PM25'])
    partikulasi_polusi_dingling_suhu_bulanan_2013[month]['avg_PM10'] = round(partikulasi_polusi_dingling_suhu_bulanan_2013[month]['avg_PM10'])

    display(partikulasi_polusi_dingling_suhu_bulanan_2013[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2013      3    1       6.0       6.0
1  2013      3    2      34.0      42.0
2  2013      3    3      44.0      65.0
3  2013      3    4      18.0      28.0
4  2013      3    5     105.0     117.0

   year  month  day  avg_PM25  avg_PM10
0  2013      4    1     115.0     185.0
1  2013      4    2      66.0      92.0
2  2013      4    3     118.0     191.0
3  2013      4    4      56.0      78.0
4  2013      4    5      54.0      42.0

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      42.0      51.0
1  2013      5    2      80.0     101.0
2  2013      5    3      63.0      87.0
3  2013      5    4      99.0     129.0
4  2013      5    5     132.0     181.0

   year  month  day  avg_PM25  avg_PM10
0  2013      6    1      47.0      58.0
1  2013      6    2     156.0     190.0
2  2013      6    3     112.0     130.0
3  2013      6    4     115.0     114.0
4  2013      6    5     103.0      83.0

   year  month  day  avg_PM25  avg_PM10
0  2013      7    1     182.0     182.0
1  2013      7    2      70.0      72.0
2  2013      7    3      17.0      23.0
3  2013      7    4      11.0      33.0
4  2013      7    5      14.0      27.0

   year  month  day  avg_PM25  avg_PM10
0  2013      8    1      25.0      24.0
1  2013      8    2      46.0      43.0
2  2013      8    3      20.0      31.0
3  2013      8    4      32.0      48.0
4  2013      8    5      29.0      38.0

   year  month  day  avg_PM25  avg_PM10
0  2013      9    1      22.0      36.0
1  2013      9    2      37.0      39.0
2  2013      9    3      72.0      71.0
3  2013      9    4      49.0      38.0
4  2013      9    5      16.0      18.0

   year  month  day  avg_PM25  avg_PM10
0  2013     10    1      85.0      85.0
1  2013     10    2      20.0      20.0
2  2013     10    3      49.0      49.0
3  2013     10    4      96.0      96.0
4  2013     10    5     271.0     271.0

   year  month  day  avg_PM25  avg_PM10
0  2013     11    1     155.0     171.0
1  2013     11    2     212.0     213.0
2  2013     11    3      34.0      33.0
3  2013     11    4      22.0      39.0
4  2013     11    5      99.0     124.0

   year  month  day  avg_PM25  avg_PM10
0  2013     12    1      29.0      39.0
1  2013     12    2      83.0     119.0
2  2013     12    3      39.0      65.0
3  2013     12    4      49.0      69.0
4  2013     12    5      21.0      29.0

In [269]:
months = range(1, 13)
partikulasi_polusi_dingling_suhu_bulanan_2014 = {}

for month in months:
    partikulasi_polusi_dingling_suhu_bulanan_2014[month] = partikulasi_polusi(dingling_df, year=2014, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dingling_suhu_bulanan_2014[month]['avg_PM25'] = round(partikulasi_polusi_dingling_suhu_bulanan_2014[month]['avg_PM25'])
    partikulasi_polusi_dingling_suhu_bulanan_2014[month]['avg_PM10'] = round(partikulasi_polusi_dingling_suhu_bulanan_2014[month]['avg_PM10'])

    display(partikulasi_polusi_dingling_suhu_bulanan_2014[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2014      1    1      34.0      82.0
1  2014      1    2      91.0     105.0
2  2014      1    3      36.0      67.0
3  2014      1    4      99.0     102.0
4  2014      1    5      60.0      62.0

   year  month  day  avg_PM25  avg_PM10
0  2014      2    1     154.0     149.0
1  2014      2    2      63.0      94.0
2  2014      2    3       6.0      24.0
3  2014      2    4      14.0      23.0
4  2014      2    5      85.0      92.0

   year  month  day  avg_PM25  avg_PM10
0  2014      3    1      49.0      41.0
1  2014      3    2      89.0     109.0
2  2014      3    3     226.0     241.0
3  2014      3    4      39.0      39.0
4  2014      3    5      14.0      33.0

   year  month  day  avg_PM25  avg_PM10
0  2014      4    1      88.0      94.0
1  2014      4    2      75.0     142.0
2  2014      4    3      21.0      52.0
3  2014      4    4      26.0     107.0
4  2014      4    5      12.0      49.0

   year  month  day  avg_PM25  avg_PM10
0  2014      5    1     109.0     123.0
1  2014      5    2      19.0      36.0
2  2014      5    3      21.0      49.0
3  2014      5    4      19.0      34.0
4  2014      5    5      14.0      27.0

   year  month  day  avg_PM25  avg_PM10
0  2014      6    1      45.0      52.0
1  2014      6    2      19.0      22.0
2  2014      6    3      29.0      40.0
3  2014      6    4      50.0      63.0
4  2014      6    5      47.0      54.0

   year  month  day  avg_PM25  avg_PM10
0  2014      7    1     100.0     132.0
1  2014      7    2      48.0      40.0
2  2014      7    3     160.0     122.0
3  2014      7    4     152.0     129.0
4  2014      7    5     137.0     116.0

   year  month  day  avg_PM25  avg_PM10
0  2014      8    1     159.0     159.0
1  2014      8    2     144.0     145.0
2  2014      8    3     110.0     111.0
3  2014      8    4      13.0      18.0
4  2014      8    5      24.0      36.0

   year  month  day  avg_PM25  avg_PM10
0  2014      9    1      67.0      74.0
1  2014      9    2      10.0      14.0
2  2014      9    3      12.0      29.0
3  2014      9    4      19.0      54.0
4  2014      9    5      68.0     128.0

   year  month  day  avg_PM25  avg_PM10
0  2014     10    1      58.0      58.0
1  2014     10    2      31.0      31.0
2  2014     10    3      76.0      79.0
3  2014     10    4      81.0      81.0
4  2014     10    5      20.0      20.0

   year  month  day  avg_PM25  avg_PM10
0  2014     11    1      17.0      25.0
1  2014     11    2       5.0      11.0
2  2014     11    3      15.0      31.0
3  2014     11    4      74.0      94.0
4  2014     11    5      45.0      58.0

   year  month  day  avg_PM25  avg_PM10
0  2014     12    1      10.0      66.0
1  2014     12    2      29.0      36.0
2  2014     12    3       7.0      28.0
3  2014     12    4       6.0      22.0
4  2014     12    5      15.0      22.0

In [270]:
months = range(1, 13)
partikulasi_polusi_dingling_suhu_bulanan_2015 = {}

for month in months:
    partikulasi_polusi_dingling_suhu_bulanan_2015[month] = partikulasi_polusi(dingling_df, year=2015, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM25'] = round(partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM25'])
    partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM10'] = round(partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM10'])

    display(partikulasi_polusi_dingling_suhu_bulanan_2015[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2015      1    1      33.0      46.0
1  2015      1    2      50.0      71.0
2  2015      1    3     160.0     161.0
3  2015      1    4     153.0     160.0
4  2015      1    5     103.0     137.0

   year  month  day  avg_PM25  avg_PM10
0  2015      2    1      54.0      54.0
1  2015      2    2     129.0     139.0
2  2015      2    3     102.0     104.0
3  2015      2    4       8.0      18.0
4  2015      2    5      15.0      17.0

   year  month  day  avg_PM25  avg_PM10
0  2015      3    1      24.0      61.0
1  2015      3    2      28.0      53.0
2  2015      3    3       8.0      50.0
3  2015      3    4      19.0      28.0
4  2015      3    5      83.0      96.0

   year  month  day  avg_PM25  avg_PM10
0  2015      4    1      71.0      88.0
1  2015      4    2      31.0      31.0
2  2015      4    3      24.0      45.0
3  2015      4    4      51.0      57.0
4  2015      4    5      33.0      70.0

   year  month  day  avg_PM25  avg_PM10
0  2015      5    1     131.0     134.0
1  2015      5    2      57.0      83.0
2  2015      5    3      32.0     118.0
3  2015      5    4      16.0      51.0
4  2015      5    5      33.0      95.0

   year  month  day  avg_PM25  avg_PM10
0  2015      6    1      66.0     142.0
1  2015      6    2      20.0      45.0
2  2015      6    3      21.0      80.0
3  2015      6    4      22.0      37.0
4  2015      6    5      25.0      42.0

   year  month  day  avg_PM25  avg_PM10
0  2015      7    1       6.0      19.0
1  2015      7    2       5.0      12.0
2  2015      7    3      20.0      62.0
3  2015      7    4      33.0      58.0
4  2015      7    5      58.0      70.0

   year  month  day  avg_PM25  avg_PM10
0  2015      8    1      52.0      61.0
1  2015      8    2      49.0      50.0
2  2015      8    3      36.0      40.0
3  2015      8    4      13.0      35.0
4  2015      8    5      48.0      74.0

   year  month  day  avg_PM25  avg_PM10
0  2015      9    1       9.0      10.0
1  2015      9    2       7.0      12.0
2  2015      9    3      10.0      20.0
3  2015      9    4      31.0      37.0
4  2015      9    5      10.0      11.0

   year  month  day  avg_PM25  avg_PM10
0  2015     10    1       7.0       7.0
1  2015     10    2      15.0      15.0
2  2015     10    3      13.0      13.0
3  2015     10    4      64.0      64.0
4  2015     10    5     175.0     175.0

   year  month  day  avg_PM25  avg_PM10
0  2015     11    1      31.0      61.0
1  2015     11    2      32.0      70.0
2  2015     11    3     121.0     142.0
3  2015     11    4     172.0     180.0
4  2015     11    5      95.0     101.0

   year  month  day  avg_PM25  avg_PM10
0  2015     12    1     419.0     420.0
1  2015     12    2       8.0      21.0
2  2015     12    3       8.0      27.0
3  2015     12    4      12.0      16.0
4  2015     12    5      19.0      28.0

In [271]:
months = range(1, 13)
partikulasi_polusi_dingling_suhu_bulanan_2015 = {}

for month in months:
    partikulasi_polusi_dingling_suhu_bulanan_2015[month] = partikulasi_polusi(dingling_df, year=2015, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM25'] = round(partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM25'])
    partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM10'] = round(partikulasi_polusi_dingling_suhu_bulanan_2015[month]['avg_PM10'])

    display(partikulasi_polusi_dingling_suhu_bulanan_2015[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2015      1    1      33.0      46.0
1  2015      1    2      50.0      71.0
2  2015      1    3     160.0     161.0
3  2015      1    4     153.0     160.0
4  2015      1    5     103.0     137.0

   year  month  day  avg_PM25  avg_PM10
0  2015      2    1      54.0      54.0
1  2015      2    2     129.0     139.0
2  2015      2    3     102.0     104.0
3  2015      2    4       8.0      18.0
4  2015      2    5      15.0      17.0

   year  month  day  avg_PM25  avg_PM10
0  2015      3    1      24.0      61.0
1  2015      3    2      28.0      53.0
2  2015      3    3       8.0      50.0
3  2015      3    4      19.0      28.0
4  2015      3    5      83.0      96.0

   year  month  day  avg_PM25  avg_PM10
0  2015      4    1      71.0      88.0
1  2015      4    2      31.0      31.0
2  2015      4    3      24.0      45.0
3  2015      4    4      51.0      57.0
4  2015      4    5      33.0      70.0

   year  month  day  avg_PM25  avg_PM10
0  2015      5    1     131.0     134.0
1  2015      5    2      57.0      83.0
2  2015      5    3      32.0     118.0
3  2015      5    4      16.0      51.0
4  2015      5    5      33.0      95.0

   year  month  day  avg_PM25  avg_PM10
0  2015      6    1      66.0     142.0
1  2015      6    2      20.0      45.0
2  2015      6    3      21.0      80.0
3  2015      6    4      22.0      37.0
4  2015      6    5      25.0      42.0

   year  month  day  avg_PM25  avg_PM10
0  2015      7    1       6.0      19.0
1  2015      7    2       5.0      12.0
2  2015      7    3      20.0      62.0
3  2015      7    4      33.0      58.0
4  2015      7    5      58.0      70.0

   year  month  day  avg_PM25  avg_PM10
0  2015      8    1      52.0      61.0
1  2015      8    2      49.0      50.0
2  2015      8    3      36.0      40.0
3  2015      8    4      13.0      35.0
4  2015      8    5      48.0      74.0

   year  month  day  avg_PM25  avg_PM10
0  2015      9    1       9.0      10.0
1  2015      9    2       7.0      12.0
2  2015      9    3      10.0      20.0
3  2015      9    4      31.0      37.0
4  2015      9    5      10.0      11.0

   year  month  day  avg_PM25  avg_PM10
0  2015     10    1       7.0       7.0
1  2015     10    2      15.0      15.0
2  2015     10    3      13.0      13.0
3  2015     10    4      64.0      64.0
4  2015     10    5     175.0     175.0

   year  month  day  avg_PM25  avg_PM10
0  2015     11    1      31.0      61.0
1  2015     11    2      32.0      70.0
2  2015     11    3     121.0     142.0
3  2015     11    4     172.0     180.0
4  2015     11    5      95.0     101.0

   year  month  day  avg_PM25  avg_PM10
0  2015     12    1     419.0     420.0
1  2015     12    2       8.0      21.0
2  2015     12    3       8.0      27.0
3  2015     12    4      12.0      16.0
4  2015     12    5      19.0      28.0

In [272]:
months = range(1, 3)
partikulasi_polusi_dingling_suhu_bulanan_2017 = {}

for month in months:
    partikulasi_polusi_dingling_suhu_bulanan_2017[month] = partikulasi_polusi(dingling_df, year=2017, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dingling_suhu_bulanan_2017[month]['avg_PM25'] = round(partikulasi_polusi_dingling_suhu_bulanan_2017[month]['avg_PM25'])
    partikulasi_polusi_dingling_suhu_bulanan_2017[month]['avg_PM10'] = round(partikulasi_polusi_dingling_suhu_bulanan_2017[month]['avg_PM10'])

    display(partikulasi_polusi_dingling_suhu_bulanan_2017[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2017      1    1     306.0     314.0
1  2017      1    2      98.0     104.0
2  2017      1    3     180.0     182.0
3  2017      1    4     136.0     139.0
4  2017      1    5     234.0     239.0

   year  month  day  avg_PM25  avg_PM10
0  2017      2    1      16.0      28.0
1  2017      2    2      61.0      66.0
2  2017      2    3     108.0     112.0
3  2017      2    4     152.0     153.0
4  2017      2    5      13.0      19.0

### 7.4.1 Dongsi

#### 7.4.1.1 Partikulasi Pm 2.5 dan PM 10 harian  Bulanan dan Tahunan

In [273]:
months = range(3, 13)
partikulasi_polusi_dongsi_suhu_bulanan_2013 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2013[month] = partikulasi_polusi(dongsi_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2013[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2013[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2013[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2013[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2013[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2013      3    1       6.0      10.0
1  2013      3    2      30.0      41.0
2  2013      3    3      98.0     132.0
3  2013      3    4      24.0      41.0
4  2013      3    5     154.0     183.0

   year  month  day  avg_PM25  avg_PM10
0  2013      4    1      95.0     119.0
1  2013      4    2     104.0     134.0
2  2013      4    3     126.0     194.0
3  2013      4    4      71.0     107.0
4  2013      4    5      60.0      58.0

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      42.0      90.0
1  2013      5    2      80.0     127.0
2  2013      5    3      59.0      77.0
3  2013      5    4      86.0     116.0
4  2013      5    5     183.0     256.0

   year  month  day  avg_PM25  avg_PM10
0  2013      6    1      74.0     109.0
1  2013      6    2     161.0     158.0
2  2013      6    3     122.0     129.0
3  2013      6    4     123.0     125.0
4  2013      6    5     105.0      96.0

   year  month  day  avg_PM25  avg_PM10
0  2013      7    1     162.0     134.0
1  2013      7    2      15.0      23.0
2  2013      7    3      32.0      57.0
3  2013      7    4      26.0      71.0
4  2013      7    5      19.0      36.0

   year  month  day  avg_PM25  avg_PM10
0  2013      8    1      45.0      38.0
1  2013      8    2      86.0      76.0
2  2013      8    3      32.0      54.0
3  2013      8    4      98.0     118.0
4  2013      8    5      47.0      51.0

   year  month  day  avg_PM25  avg_PM10
0  2013      9    1      46.0      87.0
1  2013      9    2      57.0      76.0
2  2013      9    3     103.0     123.0
3  2013      9    4      71.0      68.0
4  2013      9    5      22.0      24.0

   year  month  day  avg_PM25  avg_PM10
0  2013     10    1      76.0      76.0
1  2013     10    2      20.0      21.0
2  2013     10    3      68.0      85.0
3  2013     10    4     144.0     163.0
4  2013     10    5     292.0     307.0

   year  month  day  avg_PM25  avg_PM10
0  2013     11    1     195.0     196.0
1  2013     11    2     266.0     221.0
2  2013     11    3      56.0      54.0
3  2013     11    4      36.0      48.0
4  2013     11    5     177.0     208.0

   year  month  day  avg_PM25  avg_PM10
0  2013     12    1      84.0      91.0
1  2013     12    2     116.0     121.0
2  2013     12    3      81.0      91.0
3  2013     12    4     100.0     103.0
4  2013     12    5      42.0      52.0

In [274]:
months = range(1, 13)
partikulasi_polusi_dongsi_suhu_bulanan_2014 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2014[month] = partikulasi_polusi(dongsi_df, year=2014, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2014[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2014[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2014[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2014[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2014[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2014      1    1      56.0     100.0
1  2014      1    2     129.0     170.0
2  2014      1    3      51.0      92.0
3  2014      1    4     130.0     138.0
4  2014      1    5      91.0      78.0

   year  month  day  avg_PM25  avg_PM10
0  2014      2    1     138.0     131.0
1  2014      2    2      71.0      99.0
2  2014      2    3       6.0      32.0
3  2014      2    4      27.0      44.0
4  2014      2    5      88.0      98.0

   year  month  day  avg_PM25  avg_PM10
0  2014      3    1      71.0      65.0
1  2014      3    2     134.0     151.0
2  2014      3    3     222.0     228.0
3  2014      3    4      53.0      55.0
4  2014      3    5      23.0      23.0

   year  month  day  avg_PM25  avg_PM10
0  2014      4    1     122.0     123.0
1  2014      4    2     110.0     176.0
2  2014      4    3      20.0      79.0
3  2014      4    4      31.0     136.0
4  2014      4    5      24.0      90.0

   year  month  day  avg_PM25  avg_PM10
0  2014      5    1     113.0     191.0
1  2014      5    2      16.0      47.0
2  2014      5    3      36.0     164.0
3  2014      5    4      31.0      66.0
4  2014      5    5      15.0      57.0

   year  month  day  avg_PM25  avg_PM10
0  2014      6    1      45.0      45.0
1  2014      6    2      25.0      25.0
2  2014      6    3      34.0      48.0
3  2014      6    4      54.0     109.0
4  2014      6    5      67.0     117.0

   year  month  day  avg_PM25  avg_PM10
0  2014      7    1     124.0     124.0
1  2014      7    2      65.0      65.0
2  2014      7    3     215.0     215.0
3  2014      7    4     227.0     227.0
4  2014      7    5     133.0     133.0

   year  month  day  avg_PM25  avg_PM10
0  2014      8    1     160.0     160.0
1  2014      8    2     121.0     121.0
2  2014      8    3     131.0     131.0
3  2014      8    4      43.0      43.0
4  2014      8    5      24.0      24.0

   year  month  day  avg_PM25  avg_PM10
0  2014      9    1     115.0     121.0
1  2014      9    2      20.0      24.0
2  2014      9    3       8.0      27.0
3  2014      9    4      41.0      97.0
4  2014      9    5      96.0     155.0

   year  month  day  avg_PM25  avg_PM10
0  2014     10    1      69.0     109.0
1  2014     10    2      63.0      63.0
2  2014     10    3     116.0     133.0
3  2014     10    4      68.0      68.0
4  2014     10    5      31.0      31.0

   year  month  day  avg_PM25  avg_PM10
0  2014     11    1      60.0      79.0
1  2014     11    2       4.0      22.0
2  2014     11    3      22.0      60.0
3  2014     11    4     101.0     166.0
4  2014     11    5      60.0      89.0

   year  month  day  avg_PM25  avg_PM10
0  2014     12    1       6.0      77.0
1  2014     12    2      35.0      64.0
2  2014     12    3      16.0      68.0
3  2014     12    4       5.0      38.0
4  2014     12    5      25.0      52.0

In [275]:
months = range(1, 13)
partikulasi_polusi_dongsi_suhu_bulanan_2015 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2015[month] = partikulasi_polusi(dongsi_df, year=2015, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2015[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2015[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2015[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2015[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2015[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2015      1    1      28.0      59.0
1  2015      1    2      46.0      80.0
2  2015      1    3     201.0     217.0
3  2015      1    4     194.0     206.0
4  2015      1    5      89.0     156.0

   year  month  day  avg_PM25  avg_PM10
0  2015      2    1      93.0      95.0
1  2015      2    2     168.0     168.0
2  2015      2    3     119.0     125.0
3  2015      2    4      11.0      38.0
4  2015      2    5      30.0      33.0

   year  month  day  avg_PM25  avg_PM10
0  2015      3    1      44.0     101.0
1  2015      3    2      73.0     109.0
2  2015      3    3       9.0      59.0
3  2015      3    4      28.0      41.0
4  2015      3    5     134.0     144.0

   year  month  day  avg_PM25  avg_PM10
0  2015      4    1      55.0      69.0
1  2015      4    2      39.0      43.0
2  2015      4    3      31.0      44.0
3  2015      4    4      69.0      93.0
4  2015      4    5      59.0     131.0

   year  month  day  avg_PM25  avg_PM10
0  2015      5    1     131.0     138.0
1  2015      5    2      43.0      62.0
2  2015      5    3      44.0     111.0
3  2015      5    4      20.0      64.0
4  2015      5    5      51.0     107.0

   year  month  day  avg_PM25  avg_PM10
0  2015      6    1     103.0     152.0
1  2015      6    2      31.0      65.0
2  2015      6    3      33.0      83.0
3  2015      6    4      57.0      74.0
4  2015      6    5      54.0      65.0

   year  month  day  avg_PM25  avg_PM10
0  2015      7    1      21.0      40.0
1  2015      7    2       9.0      22.0
2  2015      7    3      27.0      64.0
3  2015      7    4      33.0      56.0
4  2015      7    5      68.0      77.0

   year  month  day  avg_PM25  avg_PM10
0  2015      8    1      76.0      86.0
1  2015      8    2      77.0      77.0
2  2015      8    3      76.0      80.0
3  2015      8    4      20.0      35.0
4  2015      8    5      85.0     111.0

   year  month  day  avg_PM25  avg_PM10
0  2015      9    1      12.0      15.0
1  2015      9    2       9.0      13.0
2  2015      9    3      15.0      27.0
3  2015      9    4      56.0      59.0
4  2015      9    5      20.0      20.0

   year  month  day  avg_PM25  avg_PM10
0  2015     10    1      13.0      35.0
1  2015     10    2      29.0      78.0
2  2015     10    3      25.0      70.0
3  2015     10    4     124.0     178.0
4  2015     10    5     225.0     240.0

   year  month  day  avg_PM25  avg_PM10
0  2015     11    1      75.0     111.0
1  2015     11    2      88.0     124.0
2  2015     11    3     160.0     200.0
3  2015     11    4     212.0     239.0
4  2015     11    5     120.0     120.0

   year  month  day  avg_PM25  avg_PM10
0  2015     12    1     506.0     506.0
1  2015     12    2      10.0      11.0
2  2015     12    3      10.0      12.0
3  2015     12    4      30.0      37.0
4  2015     12    5      52.0      66.0

In [276]:
months = range(1, 13)
partikulasi_polusi_dongsi_suhu_bulanan_2016 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month] = partikulasi_polusi(dongsi_df, year=2016, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2016[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2016      1    1     179.0     196.0
1  2016      1    2     278.0     291.0
2  2016      1    3     246.0     248.0
3  2016      1    4      46.0      46.0
4  2016      1    5      36.0      46.0

   year  month  day  avg_PM25  avg_PM10
0  2016      2    1      10.0      20.0
1  2016      2    2      28.0      31.0
2  2016      2    3      34.0      37.0
3  2016      2    4      12.0      16.0
4  2016      2    5      10.0      35.0

   year  month  day  avg_PM25  avg_PM10
0  2016      3    1     118.0     131.0
1  2016      3    2     173.0     181.0
2  2016      3    3     289.0     301.0
3  2016      3    4     314.0     326.0
4  2016      3    5      59.0     356.0

   year  month  day  avg_PM25  avg_PM10
0  2016      4    1      39.0     146.0
1  2016      4    2      10.0      32.0
2  2016      4    3      21.0      45.0
3  2016      4    4      82.0     111.0
4  2016      4    5     134.0     162.0

   year  month  day  avg_PM25  avg_PM10
0  2016      5    1     222.0     223.0
1  2016      5    2      61.0     101.0
2  2016      5    3      36.0      65.0
3  2016      5    4      34.0      49.0
4  2016      5    5      68.0      90.0

   year  month  day  avg_PM25  avg_PM10
0  2016      6    1      34.0      54.0
1  2016      6    2      49.0      75.0
2  2016      6    3      83.0     108.0
3  2016      6    4      94.0     114.0
4  2016      6    5     115.0     130.0

   year  month  day  avg_PM25  avg_PM10
0  2016      7    1      15.0      22.0
1  2016      7    2      53.0      63.0
2  2016      7    3      92.0      97.0
3  2016      7    4     145.0     146.0
4  2016      7    5      99.0     100.0

   year  month  day  avg_PM25  avg_PM10
0  2016      8    1      75.0      76.0
1  2016      8    2      62.0      65.0
2  2016      8    3      67.0      75.0
3  2016      8    4     109.0     110.0
4  2016      8    5      65.0      66.0

   year  month  day  avg_PM25  avg_PM10
0  2016      9    1       7.0      24.0
1  2016      9    2      12.0      28.0
2  2016      9    3      21.0      32.0
3  2016      9    4      77.0      91.0
4  2016      9    5      30.0      38.0

   year  month  day  avg_PM25  avg_PM10
0  2016     10    1     176.0     227.0
1  2016     10    2     200.0     226.0
2  2016     10    3     120.0     140.0
3  2016     10    4      37.0      66.0
4  2016     10    5      69.0      83.0

   year  month  day  avg_PM25  avg_PM10
0  2016     11    1      43.0      65.0
1  2016     11    2     124.0     158.0
2  2016     11    3     214.0     247.0
3  2016     11    4     278.0     298.0
4  2016     11    5     196.0     198.0

   year  month  day  avg_PM25  avg_PM10
0  2016     12    1      32.0      56.0
1  2016     12    2     114.0     151.0
2  2016     12    3     236.0     294.0
3  2016     12    4     310.0     384.0
4  2016     12    5      38.0      61.0

In [277]:
months = range(1, 3)
partikulasi_polusi_dongsi_suhu_bulanan_2017 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2017[month] = partikulasi_polusi(dongsi_df, year=2017, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2017[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2017[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2017[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2017[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2017[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2017      1    1     487.0     585.0
1  2017      1    2     216.0     238.0
2  2017      1    3     350.0     405.0
3  2017      1    4     376.0     475.0
4  2017      1    5     229.0     252.0

   year  month  day  avg_PM25  avg_PM10
0  2017      2    1      34.0      62.0
1  2017      2    2      72.0     127.0
2  2017      2    3     173.0     209.0
3  2017      2    4     292.0     326.0
4  2017      2    5      14.0      20.0

In [278]:
months = range(1, 13)
partikulasi_polusi_dongsi_suhu_bulanan_2016 = {}

for month in months:
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month] = partikulasi_polusi_bulanan(dongsi_df, year=2016, month=month)
    
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM25'])
    partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_suhu_bulanan_2016[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_suhu_bulanan_2016[month].head())

   year  month  avg_PM25  avg_PM10
0  2016      1      69.0      88.0

   year  month  avg_PM25  avg_PM10
0  2016      2      43.0      61.0

   year  month  avg_PM25  avg_PM10
0  2016      3      99.0     143.0

   year  month  avg_PM25  avg_PM10
0  2016      4      77.0     118.0

   year  month  avg_PM25  avg_PM10
0  2016      5      63.0      85.0

   year  month  avg_PM25  avg_PM10
0  2016      6      66.0      79.0

   year  month  avg_PM25  avg_PM10
0  2016      7      81.0      83.0

   year  month  avg_PM25  avg_PM10
0  2016      8      51.0      58.0

   year  month  avg_PM25  avg_PM10
0  2016      9      60.0      71.0

   year  month  avg_PM25  avg_PM10
0  2016     10      92.0     117.0

   year  month  avg_PM25  avg_PM10
0  2016     11     108.0     140.0

   year  month  avg_PM25  avg_PM10
0  2016     12     150.0     188.0

In [279]:
partikulasi_polusi_dongsi_suhu_tahunan = {}

for year in range(2013, 2018):
    partikulasi_polusi_dongsi_suhu_tahunan[year] = partikulasi_polusi_tahunan(dongsi_df, year)

annual_summary = pd.concat(partikulasi_polusi_dongsi_suhu_tahunan.values())

display(annual_summary)

   year  avg_PM25  avg_PM10
0  2013      87.0     105.0
0  2014      88.0     117.0
0  2015      87.0     112.0
0  2016      80.0     103.0
0  2017     102.0     132.0

### 7.5.1 Guanyuan

#### 7.5.1.1 Partikulasi PM 25 dan PM 10 Harian Bulanan Dan Tahunan

##### 7.5.1.1.1 Per hari

In [280]:
months = range(3, 13)
partikulasi_polusi_dongsi_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2013[month] = partikulasi_polusi(guanyuan_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2013[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2013      3    1       8.0      12.0
1  2013      3    2      26.0      35.0
2  2013      3    3      82.0     119.0
3  2013      3    4      18.0      42.0
4  2013      3    5     141.0     164.0

   year  month  day  avg_PM25  avg_PM10
0  2013      4    1      90.0     115.0
1  2013      4    2      97.0     120.0
2  2013      4    3     117.0     177.0
3  2013      4    4      58.0      92.0
4  2013      4    5      60.0      56.0

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      35.0      84.0
1  2013      5    2      71.0     110.0
2  2013      5    3      57.0      71.0
3  2013      5    4      90.0     109.0
4  2013      5    5     170.0     215.0

   year  month  day  avg_PM25  avg_PM10
0  2013      6    1      72.0     113.0
1  2013      6    2     163.0     193.0
2  2013      6    3     123.0     142.0
3  2013      6    4     132.0     152.0
4  2013      6    5     129.0     123.0

   year  month  day  avg_PM25  avg_PM10
0  2013      7    1     125.0     162.0
1  2013      7    2      14.0      28.0
2  2013      7    3      27.0      62.0
3  2013      7    4      25.0      72.0
4  2013      7    5      21.0      42.0

   year  month  day  avg_PM25  avg_PM10
0  2013      8    1      41.0      43.0
1  2013      8    2      74.0      82.0
2  2013      8    3      27.0      52.0
3  2013      8    4      86.0     109.0
4  2013      8    5      44.0      48.0

   year  month  day  avg_PM25  avg_PM10
0  2013      9    1      44.0      90.0
1  2013      9    2      52.0      62.0
2  2013      9    3      95.0     119.0
3  2013      9    4      69.0      55.0
4  2013      9    5      22.0      28.0

   year  month  day  avg_PM25  avg_PM10
0  2013     10    1      84.0      82.0
1  2013     10    2      18.0      26.0
2  2013     10    3      65.0     104.0
3  2013     10    4     137.0     162.0
4  2013     10    5     290.0     306.0

   year  month  day  avg_PM25  avg_PM10
0  2013     11    1     186.0     189.0
1  2013     11    2     245.0     243.0
2  2013     11    3      64.0      70.0
3  2013     11    4      40.0      67.0
4  2013     11    5     163.0     222.0

   year  month  day  avg_PM25  avg_PM10
0  2013     12    1      82.0     110.0
1  2013     12    2     114.0     132.0
2  2013     12    3      78.0     115.0
3  2013     12    4     104.0     126.0
4  2013     12    5      47.0      69.0

In [281]:
months = range(1, 13)
partikulasi_polusi_dongsi_polusi_harian_2014 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2014[month] = partikulasi_polusi(guanyuan_df, year=2014, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2014[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2014[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2014[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2014[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2014[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2014      1    1      49.0     122.0
1  2014      1    2     113.0     184.0
2  2014      1    3      44.0     108.0
3  2014      1    4     115.0     167.0
4  2014      1    5      74.0     103.0

   year  month  day  avg_PM25  avg_PM10
0  2014      2    1     136.0     131.0
1  2014      2    2      72.0     108.0
2  2014      2    3       6.0      29.0
3  2014      2    4      28.0      42.0
4  2014      2    5      91.0     101.0

   year  month  day  avg_PM25  avg_PM10
0  2014      3    1      71.0      79.0
1  2014      3    2     137.0     162.0
2  2014      3    3     218.0     247.0
3  2014      3    4      56.0      64.0
4  2014      3    5      21.0      30.0

   year  month  day  avg_PM25  avg_PM10
0  2014      4    1     123.0     109.0
1  2014      4    2     105.0     141.0
2  2014      4    3      24.0      63.0
3  2014      4    4      34.0     112.0
4  2014      4    5      28.0      79.0

   year  month  day  avg_PM25  avg_PM10
0  2014      5    1     135.0     168.0
1  2014      5    2      26.0      44.0
2  2014      5    3      53.0     127.0
3  2014      5    4      28.0      52.0
4  2014      5    5      22.0      56.0

   year  month  day  avg_PM25  avg_PM10
0  2014      6    1      45.0      46.0
1  2014      6    2      31.0      32.0
2  2014      6    3      36.0      37.0
3  2014      6    4      52.0      88.0
4  2014      6    5      65.0      95.0

   year  month  day  avg_PM25  avg_PM10
0  2014      7    1     101.0     138.0
1  2014      7    2      56.0      58.0
2  2014      7    3     179.0     179.0
3  2014      7    4     193.0     197.0
4  2014      7    5     111.0     117.0

   year  month  day  avg_PM25  avg_PM10
0  2014      8    1     141.0     143.0
1  2014      8    2     120.0     127.0
2  2014      8    3     114.0     126.0
3  2014      8    4      39.0      47.0
4  2014      8    5      26.0      51.0

   year  month  day  avg_PM25  avg_PM10
0  2014      9    1     113.0     114.0
1  2014      9    2      24.0      25.0
2  2014      9    3      17.0      29.0
3  2014      9    4      44.0      84.0
4  2014      9    5      94.0     134.0

   year  month  day  avg_PM25  avg_PM10
0  2014     10    1      77.0      98.0
1  2014     10    2      74.0      74.0
2  2014     10    3     120.0     120.0
3  2014     10    4      86.0      86.0
4  2014     10    5      40.0      40.0

   year  month  day  avg_PM25  avg_PM10
0  2014     11    1      61.0      67.0
1  2014     11    2       8.0      18.0
2  2014     11    3      27.0      49.0
3  2014     11    4      98.0     135.0
4  2014     11    5      61.0      69.0

   year  month  day  avg_PM25  avg_PM10
0  2014     12    1      14.0      57.0
1  2014     12    2      45.0      57.0
2  2014     12    3      19.0      43.0
3  2014     12    4       8.0      21.0
4  2014     12    5      30.0      46.0

In [282]:
months = range(1, 13)
partikulasi_polusi_dongsi_polusi_harian_2015 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2015[month] = partikulasi_polusi(guanyuan_df, year=2015, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2015[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2015[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2015[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2015[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2015[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2015      1    1      36.0      48.0
1  2015      1    2      54.0      72.0
2  2015      1    3     139.0     176.0
3  2015      1    4     158.0     196.0
4  2015      1    5      80.0     119.0

   year  month  day  avg_PM25  avg_PM10
0  2015      2    1      80.0      84.0
1  2015      2    2     132.0     136.0
2  2015      2    3     104.0     106.0
3  2015      2    4      11.0      26.0
4  2015      2    5      29.0      34.0

   year  month  day  avg_PM25  avg_PM10
0  2015      3    1      36.0      74.0
1  2015      3    2      55.0      80.0
2  2015      3    3       9.0      46.0
3  2015      3    4      24.0      41.0
4  2015      3    5     111.0     133.0

   year  month  day  avg_PM25  avg_PM10
0  2015      4    1      53.0      63.0
1  2015      4    2      34.0      36.0
2  2015      4    3      30.0      33.0
3  2015      4    4      62.0      68.0
4  2015      4    5      54.0      91.0

   year  month  day  avg_PM25  avg_PM10
0  2015      5    1     116.0     144.0
1  2015      5    2      44.0      66.0
2  2015      5    3      42.0      96.0
3  2015      5    4      24.0      64.0
4  2015      5    5      45.0     103.0

   year  month  day  avg_PM25  avg_PM10
0  2015      6    1      89.0     190.0
1  2015      6    2      35.0      60.0
2  2015      6    3      34.0     116.0
3  2015      6    4      54.0     102.0
4  2015      6    5      49.0      74.0

   year  month  day  avg_PM25  avg_PM10
0  2015      7    1      21.0      38.0
1  2015      7    2      13.0      21.0
2  2015      7    3      28.0      64.0
3  2015      7    4      31.0      55.0
4  2015      7    5      67.0      77.0

   year  month  day  avg_PM25  avg_PM10
0  2015      8    1      65.0      79.0
1  2015      8    2      80.0      80.0
2  2015      8    3      75.0      75.0
3  2015      8    4      21.0      47.0
4  2015      8    5      81.0     108.0

   year  month  day  avg_PM25  avg_PM10
0  2015      9    1      14.0      15.0
1  2015      9    2      14.0      18.0
2  2015      9    3      19.0      31.0
3  2015      9    4      59.0      64.0
4  2015      9    5      22.0      22.0

   year  month  day  avg_PM25  avg_PM10
0  2015     10    1      14.0      23.0
1  2015     10    2      26.0      68.0
2  2015     10    3      28.0      67.0
3  2015     10    4     113.0     152.0
4  2015     10    5     211.0     217.0

   year  month  day  avg_PM25  avg_PM10
0  2015     11    1      67.0      89.0
1  2015     11    2      84.0     114.0
2  2015     11    3     143.0     168.0
3  2015     11    4     212.0     232.0
4  2015     11    5     117.0     117.0

   year  month  day  avg_PM25  avg_PM10
0  2015     12    1     503.0     510.0
1  2015     12    2      10.0      25.0
2  2015     12    3       9.0      27.0
3  2015     12    4      30.0      46.0
4  2015     12    5      51.0      70.0

In [283]:
months = range(1, 13)
partikulasi_polusi_dongsi_polusi_harian_2016 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2016[month] = partikulasi_polusi(guanyuan_df, year=2016, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2016[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2016[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2016[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2016[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2016[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2016      1    1     176.0     193.0
1  2016      1    2     260.0     268.0
2  2016      1    3     253.0     258.0
3  2016      1    4      35.0      35.0
4  2016      1    5      36.0      41.0

   year  month  day  avg_PM25  avg_PM10
0  2016      2    1      14.0      21.0
1  2016      2    2      28.0      30.0
2  2016      2    3      33.0      36.0
3  2016      2    4       9.0      14.0
4  2016      2    5      10.0      35.0

   year  month  day  avg_PM25  avg_PM10
0  2016      3    1     114.0     125.0
1  2016      3    2     160.0     168.0
2  2016      3    3     271.0     286.0
3  2016      3    4     301.0     312.0
4  2016      3    5      65.0     325.0

   year  month  day  avg_PM25  avg_PM10
0  2016      4    1      35.0     156.0
1  2016      4    2       8.0      32.0
2  2016      4    3      18.0      51.0
3  2016      4    4      71.0     127.0
4  2016      4    5     119.0     174.0

   year  month  day  avg_PM25  avg_PM10
0  2016      5    1     202.0     216.0
1  2016      5    2      58.0     113.0
2  2016      5    3      37.0      78.0
3  2016      5    4      25.0      67.0
4  2016      5    5      56.0     152.0

   year  month  day  avg_PM25  avg_PM10
0  2016      6    1      34.0      76.0
1  2016      6    2      47.0      99.0
2  2016      6    3      89.0     146.0
3  2016      6    4      89.0     124.0
4  2016      6    5      79.0     109.0

   year  month  day  avg_PM25  avg_PM10
0  2016      7    1      14.0      26.0
1  2016      7    2      51.0      78.0
2  2016      7    3      90.0     120.0
3  2016      7    4     146.0     146.0
4  2016      7    5     110.0     116.0

   year  month  day  avg_PM25  avg_PM10
0  2016      8    1      83.0      87.0
1  2016      8    2      65.0      71.0
2  2016      8    3      60.0      82.0
3  2016      8    4     102.0     116.0
4  2016      8    5      61.0      70.0

   year  month  day  avg_PM25  avg_PM10
0  2016      9    1       9.0      35.0
1  2016      9    2      16.0      38.0
2  2016      9    3      23.0      48.0
3  2016      9    4      76.0     107.0
4  2016      9    5      29.0      44.0

   year  month  day  avg_PM25  avg_PM10
0  2016     10    1     164.0     211.0
1  2016     10    2     192.0     218.0
2  2016     10    3     121.0     141.0
3  2016     10    4      36.0      53.0
4  2016     10    5      60.0      69.0

   year  month  day  avg_PM25  avg_PM10
0  2016     11    1      39.0      69.0
1  2016     11    2     111.0     167.0
2  2016     11    3     192.0     258.0
3  2016     11    4     273.0     338.0
4  2016     11    5     202.0     221.0

   year  month  day  avg_PM25  avg_PM10
0  2016     12    1      35.0      52.0
1  2016     12    2     106.0     131.0
2  2016     12    3     193.0     225.0
3  2016     12    4     301.0     347.0
4  2016     12    5      46.0      67.0

In [284]:
months = range(1, 2)
partikulasi_polusi_dongsi_polusi_harian_2017 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2017[month] = partikulasi_polusi(guanyuan_df, year=2017, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2017[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2017[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2017[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2017[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2017[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2017      1    1     494.0     552.0
1  2017      1    2     202.0     211.0
2  2017      1    3     281.0     352.0
3  2017      1    4     294.0     423.0
4  2017      1    5     221.0     236.0

##### 7.5.1.1.2 Per Minggu

In [285]:
months = range(3, 13)
partikulasi_polusi_guanyuan_mingguan_2013 = {}

for month in months:
    partikulasi_polusi_guanyuan_mingguan_2013[month] = partikulasi_polusi_mingguan(guanyuan_df, year=2013, month=month)

    display(partikulasi_polusi_guanyuan_mingguan_2013[month].head())

   year  month  week  avg_PM25  avg_PM10
0  2013      3     1     104.0     126.0
1  2013      3     2      92.0     136.0
2  2013      3     3     139.0     155.0
3  2013      3     4      75.0     101.0
4  2013      3     5     105.0     139.0

   year  month  week  avg_PM25  avg_PM10
0  2013      4     1      72.0      99.0
1  2013      4     2      28.0      81.0
2  2013      4     3      58.0      89.0
3  2013      4     4      90.0     121.0
4  2013      4     5      20.0      73.0

   year  month  week  avg_PM25  avg_PM10
0  2013      5     1     115.0     149.0
1  2013      5     2      68.0     166.0
2  2013      5     3      73.0     160.0
3  2013      5     4      76.0     119.0
4  2013      5     5      58.0     118.0

   year  month  week  avg_PM25  avg_PM10
0  2013      6     1     127.0     143.0
1  2013      6     2      83.0     104.0
2  2013      6     3      76.0     108.0
3  2013      6     4     127.0     123.0
4  2013      6     5     161.0     160.0

   year  month  week  avg_PM25  avg_PM10
0  2013      7     1      49.0      78.0
1  2013      7     2      80.0      70.0
2  2013      7     3      76.0      83.0
3  2013      7     4      58.0      84.0
4  2013      7     5      70.0      96.0

   year  month  week  avg_PM25  avg_PM10
0  2013      8     1      61.0      72.0
1  2013      8     2      68.0      87.0
2  2013      8     3      75.0      97.0
3  2013      8     4      61.0      91.0
4  2013      8     5      19.0      38.0

   year  month  week  avg_PM25  avg_PM10
0  2013      9     1      60.0      72.0
1  2013      9     2      81.0     106.0
2  2013      9     3      65.0      88.0
3  2013      9     4      81.0     110.0
4  2013      9     5     191.0     184.0

   year  month  week  avg_PM25  avg_PM10
0  2013     10     1     129.0     140.0
1  2013     10     2      71.0      97.0
2  2013     10     3      83.0     104.0
3  2013     10     4     106.0     137.0
4  2013     10     5      89.0     125.0

   year  month  week  avg_PM25  avg_PM10
0  2013     11     1     120.0     144.0
1  2013     11     2      80.0     109.0
2  2013     11     3      53.0      82.0
3  2013     11     4      72.0      97.0
4  2013     11     5      56.0      77.0

   year  month  week  avg_PM25  avg_PM10
0  2013     12     1     120.0     138.0
1  2013     12     2      56.0      76.0
2  2013     12     3      63.0      77.0
3  2013     12     4     106.0     134.0
4  2013     12     5      54.0     113.0

In [286]:
months = range(1, 13)
partikulasi_polusi_guanyuan_mingguan_2014 = {}

for month in months:
    partikulasi_polusi_guanyuan_mingguan_2014[month] = partikulasi_polusi_mingguan(guanyuan_df, year=2014, month=month)

    display(partikulasi_polusi_guanyuan_mingguan_2014[month].head())

   year  month  week  avg_PM25  avg_PM10
0  2014      1     1      88.0     133.0
1  2014      1     2      64.0     104.0
2  2014      1     3     147.0     166.0
3  2014      1     4     102.0     127.0
4  2014      1     5     109.0     132.0

   year  month  week  avg_PM25  avg_PM10
0  2014      2     1      77.0      84.0
1  2014      2     2     110.0     109.0
2  2014      2     3     196.0     190.0
3  2014      2     4     218.0     244.0

   year  month  week  avg_PM25  avg_PM10
0  2014      3     1      82.0      97.0
1  2014      3     2      76.0     117.0
2  2014      3     3      61.0     128.0
3  2014      3     4     172.0     207.0
4  2014      3     5      69.0      98.0

   year  month  week  avg_PM25  avg_PM10
0  2014      4     1      67.0     116.0
1  2014      4     2     130.0     215.0
2  2014      4     3      76.0     102.0
3  2014      4     4      83.0     113.0
4  2014      4     5     102.0     148.0

   year  month  week  avg_PM25  avg_PM10
0  2014      5     1      58.0      99.0
1  2014      5     2      45.0      87.0
2  2014      5     3      80.0     155.0
3  2014      5     4      64.0     133.0
4  2014      5     5      78.0     176.0

   year  month  week  avg_PM25  avg_PM10
0  2014      6     1      43.0      59.0
1  2014      6     2      45.0      64.0
2  2014      6     3      98.0     104.0
3  2014      6     4      54.0      73.0
4  2014      6     5      54.0     100.0

   year  month  week  avg_PM25  avg_PM10
0  2014      7     1     141.0     149.0
1  2014      7     2      32.0      63.0
2  2014      7     3      80.0     100.0
3  2014      7     4      69.0     106.0
4  2014      7     5     137.0     147.0

   year  month  week  avg_PM25  avg_PM10
0  2014      8     1      80.0      97.0
1  2014      8     2      63.0      65.0
2  2014      8     3      79.0     102.0
3  2014      8     4      55.0      81.0
4  2014      8     5      99.0     102.0

   year  month  week  avg_PM25  avg_PM10
0  2014      9     1      84.0     100.0
1  2014      9     2      56.0      81.0
2  2014      9     3      72.0      93.0
3  2014      9     4      77.0      86.0
4  2014      9     5      43.0      62.0

   year  month  week  avg_PM25  avg_PM10
0  2014     10     1      82.0      87.0
1  2014     10     2     183.0     186.0
2  2014     10     3     123.0     161.0
3  2014     10     4     129.0     155.0
4  2014     10     5     133.0     159.0

   year  month  week  avg_PM25  avg_PM10
0  2014     11     1      44.0      59.0
1  2014     11     2      44.0      57.0
2  2014     11     3     144.0     177.0
3  2014     11     4     106.0     142.0
4  2014     11     5     158.0     247.0

   year  month  week  avg_PM25  avg_PM10
0  2014     12     1      31.0      51.0
1  2014     12     2      77.0     110.0
2  2014     12     3      47.0      66.0
3  2014     12     4      92.0     114.0
4  2014     12     5      52.0      80.0

In [287]:
months = range(1, 13)
partikulasi_polusi_guanyuan_mingguan_2015 = {}

for month in months:
    partikulasi_polusi_guanyuan_mingguan_2015[month] = partikulasi_polusi_mingguan(guanyuan_df, year=2015, month=month)

    display(partikulasi_polusi_guanyuan_mingguan_2015[month].head())

   year  month  week  avg_PM25  avg_PM10
0  2015      1     1      79.0     101.0
1  2015      1     2     135.0     140.0
2  2015      1     3      99.0     111.0
3  2015      1     4      91.0      98.0
4  2015      1     5      37.0      41.0

   year  month  week  avg_PM25  avg_PM10
0  2015      2     1      64.0      70.0
1  2015      2     2     101.0     105.0
2  2015      2     3     137.0     161.0
3  2015      2     4      71.0     122.0

   year  month  week  avg_PM25  avg_PM10
0  2015      3     1      94.0     117.0
1  2015      3     2      63.0      78.0
2  2015      3     3      98.0     173.0
3  2015      3     4      73.0     137.0
4  2015      3     5     114.0     244.0

   year  month  week  avg_PM25  avg_PM10
0  2015      4     1      40.0      52.0
1  2015      4     2      95.0     106.0
2  2015      4     3      78.0     163.0
3  2015      4     4      67.0     150.0
4  2015      4     5     109.0     147.0

   year  month  week  avg_PM25  avg_PM10
0  2015      5     1      47.0      99.0
1  2015      5     2      33.0      75.0
2  2015      5     3      47.0      95.0
3  2015      5     4      90.0     160.0
4  2015      5     5      61.0     104.0

   year  month  week  avg_PM25  avg_PM10
0  2015      6     1      44.0      88.0
1  2015      6     2      32.0      49.0
2  2015      6     3      51.0      71.0
3  2015      6     4     121.0     130.0
4  2015      6     5      71.0      73.0

   year  month  week  avg_PM25  avg_PM10
0  2015      7     1      42.0      59.0
1  2015      7     2      82.0     105.0
2  2015      7     3      72.0      78.0
3  2015      7     4      76.0      85.0
4  2015      7     5      60.0      63.0

   year  month  week  avg_PM25  avg_PM10
0  2015      8     1      70.0      82.0
1  2015      8     2      78.0     104.0
2  2015      8     3      46.0      72.0
3  2015      8     4      19.0      31.0
4  2015      8     5      32.0      42.0

   year  month  week  avg_PM25  avg_PM10
0  2015      9     1      25.0      32.0
1  2015      9     2      30.0      49.0
2  2015      9     3      97.0     119.0
3  2015      9     4      65.0      82.0
4  2015      9     5      39.0      40.0

   year  month  week  avg_PM25  avg_PM10
0  2015     10     1     139.0     159.0
1  2015     10     2      29.0      51.0
2  2015     10     3     121.0     141.0
3  2015     10     4      34.0      48.0
4  2015     10     5      25.0      46.0

   year  month  week  avg_PM25  avg_PM10
0  2015     11     1      94.0     108.0
1  2015     11     2     151.0     151.0
2  2015     11     3      83.0      88.0
3  2015     11     4      97.0     104.0
4  2015     11     5     326.0     343.0

   year  month  week  avg_PM25  avg_PM10
0  2015     12     1     130.0     146.0
1  2015     12     2     157.0     163.0
2  2015     12     3     100.0     112.0
3  2015     12     4     244.0     255.0
4  2015     12     5     132.0     147.0

In [288]:
months = range(1, 13)
partikulasi_polusi_guanyuan_mingguan_2016 = {}

for month in months:
    partikulasi_polusi_guanyuan_mingguan_2016[month] = partikulasi_polusi_mingguan(guanyuan_df, year=2016, month=month)

    display(partikulasi_polusi_guanyuan_mingguan_2016[month].head())

   year  month  week  avg_PM25  avg_PM10
0  2016      1     1     114.0     123.0
1  2016      1     2      42.0      59.0
2  2016      1     3      80.0     105.0
3  2016      1     4      44.0      66.0
4  2016      1     5      41.0      54.0

   year  month  week  avg_PM25  avg_PM10
0  2016      2     1      23.0      36.0
1  2016      2     2      87.0     104.0
2  2016      2     3      25.0      44.0
3  2016      2     4      30.0      46.0
4  2016      2     5      30.0      38.0

   year  month  week  avg_PM25  avg_PM10
0  2016      3     1     145.0     212.0
1  2016      3     2      38.0      69.0
2  2016      3     3     169.0     205.0
3  2016      3     4      39.0      88.0
4  2016      3     5      70.0     143.0

   year  month  week  avg_PM25  avg_PM10
0  2016      4     1      71.0     125.0
1  2016      4     2      63.0     148.0
2  2016      4     3      57.0      97.0
3  2016      4     4      77.0     127.0
4  2016      4     5     161.0     186.0

   year  month  week  avg_PM25  avg_PM10
0  2016      5     1      65.0     122.0
1  2016      5     2      61.0      97.0
2  2016      5     3      64.0     100.0
3  2016      5     4      39.0      81.0
4  2016      5     5      54.0     129.0

   year  month  week  avg_PM25  avg_PM10
0  2016      6     1      72.0     108.0
1  2016      6     2      71.0      82.0
2  2016      6     3      57.0      77.0
3  2016      6     4      53.0      71.0
4  2016      6     5     110.0     112.0

   year  month  week  avg_PM25  avg_PM10
0  2016      7     1      87.0     102.0
1  2016      7     2      72.0      82.0
2  2016      7     3      74.0      76.0
3  2016      7     4      74.0      87.0
4  2016      7     5     112.0     114.0

   year  month  week  avg_PM25  avg_PM10
0  2016      8     1      70.0      80.0
1  2016      8     2      51.0      67.0
2  2016      8     3      48.0      62.0
3  2016      8     4      38.0      57.0
4  2016      8     5      24.0      54.0

   year  month  week  avg_PM25  avg_PM10
0  2016      9     1      31.0      54.0
1  2016      9     2      46.0      57.0
2  2016      9     3      54.0      70.0
3  2016      9     4      91.0     110.0
4  2016      9     5      80.0     125.0

   year  month  week  avg_PM25  avg_PM10
0  2016     10     1      98.0     118.0
1  2016     10     2     107.0     132.0
2  2016     10     3     126.0     145.0
3  2016     10     4      43.0      72.0
4  2016     10     5      26.0      56.0

   year  month  week  avg_PM25  avg_PM10
0  2016     11     1     133.0     169.0
1  2016     11     2     100.0     149.0
2  2016     11     3      96.0     134.0
3  2016     11     4     101.0     135.0
4  2016     11     5     102.0     151.0

   year  month  week  avg_PM25  avg_PM10
0  2016     12     1     130.0     162.0
1  2016     12     2      90.0     110.0
2  2016     12     3     246.0     265.0
3  2016     12     4      75.0      84.0
4  2016     12     5     216.0     252.0

In [289]:
months = range(1, 3)
partikulasi_polusi_guanyuan_mingguan_2017 = {}

for month in months:
    partikulasi_polusi_guanyuan_mingguan_2017[month] = partikulasi_polusi_mingguan(guanyuan_df, year=2017, month=month)

    display(partikulasi_polusi_guanyuan_mingguan_2017[month].head())

   year  month  week  avg_PM25  avg_PM10
0  2017      1     1     265.0     306.0
1  2017      1     2      37.0      49.0
2  2017      1     3      60.0      79.0
3  2017      1     4     130.0     158.0
4  2017      1     5      52.0      70.0

   year  month  week  avg_PM25  avg_PM10
0  2017      2     1      94.0     108.0
1  2017      2     2      69.0      91.0
2  2017      2     3      87.0     108.0
3  2017      2     4      36.0      51.0

##### 7.5.1.1.3 Per Bulan

In [290]:
months = range(3, 13)
partikulasi_polusi_guanyuan_bulanan_2013 = {}

for month in months:
    partikulasi_polusi_guanyuan_bulanan_2013[month] = partikulasi_polusi_bulanan(guanyuan_df, year=2013, month=month)
    display(partikulasi_polusi_guanyuan_bulanan_2013[month].head())

   year  month  avg_PM25  avg_PM10
0  2013      3     103.0     130.0

   year  month  avg_PM25  avg_PM10
0  2013      4      59.0      96.0

   year  month  avg_PM25  avg_PM10
0  2013      5      81.0     146.0

   year  month  avg_PM25  avg_PM10
0  2013      6     107.0     122.0

   year  month  avg_PM25  avg_PM10
0  2013      7      66.0      80.0

   year  month  avg_PM25  avg_PM10
0  2013      8      62.0      82.0

   year  month  avg_PM25  avg_PM10
0  2013      9      80.0     100.0

   year  month  avg_PM25  avg_PM10
0  2013     10      96.0     120.0

   year  month  avg_PM25  avg_PM10
0  2013     11      79.0     106.0

   year  month  avg_PM25  avg_PM10
0  2013     12      83.0     107.0

In [291]:
months = range(1, 13)
partikulasi_polusi_guanyuan_bulanan_2014 = {}

for month in months:
    partikulasi_polusi_guanyuan_bulanan_2014[month] = partikulasi_polusi_bulanan(guanyuan_df, year=2014, month=month)
    display(partikulasi_polusi_guanyuan_bulanan_2014[month].head())

   year  month  avg_PM25  avg_PM10
0  2014      1     101.0     133.0

   year  month  avg_PM25  avg_PM10
0  2014      2     150.0     157.0

   year  month  avg_PM25  avg_PM10
0  2014      3      95.0     133.0

   year  month  avg_PM25  avg_PM10
0  2014      4      90.0     137.0

   year  month  avg_PM25  avg_PM10
0  2014      5      63.0     124.0

   year  month  avg_PM25  avg_PM10
0  2014      6      60.0      76.0

   year  month  avg_PM25  avg_PM10
0  2014      7      86.0     108.0

   year  month  avg_PM25  avg_PM10
0  2014      8      72.0      88.0

   year  month  avg_PM25  avg_PM10
0  2014      9      70.0      88.0

   year  month  avg_PM25  avg_PM10
0  2014     10     130.0     148.0

   year  month  avg_PM25  avg_PM10
0  2014     11      89.0     118.0

   year  month  avg_PM25  avg_PM10
0  2014     12      61.0      85.0

In [292]:
months = range(1, 13)
partikulasi_polusi_guanyuan_bulanan_2015 = {}

for month in months:
    partikulasi_polusi_guanyuan_bulanan_2015[month] = partikulasi_polusi_bulanan(guanyuan_df, year=2015, month=month)
    display(partikulasi_polusi_guanyuan_bulanan_2015[month].head())

   year  month  avg_PM25  avg_PM10
0  2015      1      95.0     106.0

   year  month  avg_PM25  avg_PM10
0  2015      2      93.0     114.0

   year  month  avg_PM25  avg_PM10
0  2015      3      85.0     138.0

   year  month  avg_PM25  avg_PM10
0  2015      4      73.0     120.0

   year  month  avg_PM25  avg_PM10
0  2015      5      55.0     107.0

   year  month  avg_PM25  avg_PM10
0  2015      6      62.0      84.0

   year  month  avg_PM25  avg_PM10
0  2015      7      67.0      80.0

   year  month  avg_PM25  avg_PM10
0  2015      8      51.0      69.0

   year  month  avg_PM25  avg_PM10
0  2015      9      53.0      68.0

   year  month  avg_PM25  avg_PM10
0  2015     10      75.0      94.0

   year  month  avg_PM25  avg_PM10
0  2015     11     121.0     128.0

   year  month  avg_PM25  avg_PM10
0  2015     12     155.0     167.0

In [293]:
months = range(1, 13)
partikulasi_polusi_guanyuan_bulanan_2016 = {}

for month in months:
    partikulasi_polusi_guanyuan_bulanan_2016[month] = partikulasi_polusi_bulanan(guanyuan_df, year=2016, month=month)
    display(partikulasi_polusi_guanyuan_bulanan_2016[month].head())

   year  month  avg_PM25  avg_PM10
0  2016      1      67.0      85.0

   year  month  avg_PM25  avg_PM10
0  2016      2      41.0      57.0

   year  month  avg_PM25  avg_PM10
0  2016      3      95.0     144.0

   year  month  avg_PM25  avg_PM10
0  2016      4      73.0     128.0

   year  month  avg_PM25  avg_PM10
0  2016      5      57.0     103.0

   year  month  avg_PM25  avg_PM10
0  2016      6      66.0      86.0

   year  month  avg_PM25  avg_PM10
0  2016      7      80.0      89.0

   year  month  avg_PM25  avg_PM10
0  2016      8      49.0      65.0

   year  month  avg_PM25  avg_PM10
0  2016      9      57.0      76.0

   year  month  avg_PM25  avg_PM10
0  2016     10      87.0     111.0

   year  month  avg_PM25  avg_PM10
0  2016     11     107.0     147.0

   year  month  avg_PM25  avg_PM10
0  2016     12     143.0     165.0

In [294]:
months = range(1, 3)
partikulasi_polusi_guanyuan_bulanan_2017 = {}

for month in months:
    partikulasi_polusi_guanyuan_bulanan_2017[month] = partikulasi_polusi_bulanan(guanyuan_df, year=2017, month=month)
    display(partikulasi_polusi_guanyuan_bulanan_2017[month].head())

   year  month  avg_PM25  avg_PM10
0  2017      1     116.0     141.0

   year  month  avg_PM25  avg_PM10
0  2017      2      72.0      89.0

### 7.6.1 Gucheng

#### Partikulasi Polusi

##### Harian

In [295]:
months = range(3, 13)
partikulasi_polusi_dongsi_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2013[month] = partikulasi_polusi(gucheng_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2013[month].head())

   year  month  day  avg_PM25  avg_PM10
0  2013      3    1       9.0      17.0
1  2013      3    2      37.0      51.0
2  2013      3    3      80.0     120.0
3  2013      3    4      26.0      51.0
4  2013      3    5     137.0     173.0

   year  month  day  avg_PM25  avg_PM10
0  2013      4    1      94.0     125.0
1  2013      4    2      93.0     147.0
2  2013      4    3     123.0     197.0
3  2013      4    4      59.0      94.0
4  2013      4    5      55.0      54.0

   year  month  day  avg_PM25  avg_PM10
0  2013      5    1      40.0     113.0
1  2013      5    2      81.0     141.0
2  2013      5    3      63.0      94.0
3  2013      5    4     104.0     154.0
4  2013      5    5     167.0     243.0

   year  month  day  avg_PM25  avg_PM10
0  2013      6    1      93.0     135.0
1  2013      6    2     200.0     232.0
2  2013      6    3     175.0     175.0
3  2013      6    4     160.0     166.0
4  2013      6    5     148.0     113.0

   year  month  day  avg_PM25  avg_PM10
0  2013      7    1     198.0     156.0
1  2013      7    2      14.0      31.0
2  2013      7    3      27.0      77.0
3  2013      7    4      18.0      74.0
4  2013      7    5      23.0      52.0

   year  month  day  avg_PM25  avg_PM10
0  2013      8    1      38.0      41.0
1  2013      8    2      69.0      74.0
2  2013      8    3      24.0      56.0
3  2013      8    4      73.0     109.0
4  2013      8    5      38.0      66.0

   year  month  day  avg_PM25  avg_PM10
0  2013      9    1      38.0      81.0
1  2013      9    2      53.0      75.0
2  2013      9    3     110.0     133.0
3  2013      9    4      57.0      60.0
4  2013      9    5      22.0      29.0

   year  month  day  avg_PM25  avg_PM10
0  2013     10    1     113.0      86.0
1  2013     10    2      17.0      32.0
2  2013     10    3      81.0     118.0
3  2013     10    4     120.0     149.0
4  2013     10    5     296.0     295.0

   year  month  day  avg_PM25  avg_PM10
0  2013     11    1     186.0     188.0
1  2013     11    2     254.0     232.0
2  2013     11    3      34.0      30.0
3  2013     11    4      53.0      96.0
4  2013     11    5     141.0     170.0

   year  month  day  avg_PM25  avg_PM10
0  2013     12    1      87.0     114.0
1  2013     12    2     119.0     141.0
2  2013     12    3      80.0     102.0
3  2013     12    4     109.0     133.0
4  2013     12    5      51.0      67.0

In [296]:
years = range(2014, 2016)  # 
months = range(1, 13)  # 

partikulasi_polusi_per_tahun_bulan = {}

for year in years:
    for month in months:
        # Hitung partikulasi polusi untuk setiap bulan dan tahun
        polusi_data = partikulasi_polusi(gucheng_df, year=year, month=month, day_start=1, day_end=30)
        
        # Bulatkan nilai rata-rata PM2.5 dan PM10
        polusi_data['avg_PM25'] = round(polusi_data['avg_PM25'])
        polusi_data['avg_PM10'] = round(polusi_data['avg_PM10'])
        
        # Simpan hasil ke dalam dictionary dengan kunci (tahun, bulan)
        partikulasi_polusi_per_tahun_bulan[(year, month)] = polusi_data

        # Menampilkan 5 baris pertama dari data untuk setiap bulan
        display(polusi_data.head())

   year  month  day  avg_PM25  avg_PM10
0  2014      1    1      48.0     110.0
1  2014      1    2      99.0     152.0
2  2014      1    3      42.0     104.0
3  2014      1    4     129.0     157.0
4  2014      1    5      93.0     107.0

   year  month  day  avg_PM25  avg_PM10
0  2014      2    1     132.0     122.0
1  2014      2    2      74.0      84.0
2  2014      2    3       5.0      27.0
3  2014      2    4      43.0      57.0
4  2014      2    5      96.0     103.0

   year  month  day  avg_PM25  avg_PM10
0  2014      3    1      83.0     102.0
1  2014      3    2     146.0     196.0
2  2014      3    3     230.0     264.0
3  2014      3    4      61.0      59.0
4  2014      3    5      27.0      44.0

   year  month  day  avg_PM25  avg_PM10
0  2014      4    1     108.0     128.0
1  2014      4    2     107.0     203.0
2  2014      4    3      27.0     106.0
3  2014      4    4      37.0     173.0
4  2014      4    5      27.0     105.0

   year  month  day  avg_PM25  avg_PM10
0  2014      5    1     127.0     212.0
1  2014      5    2      24.0      60.0
2  2014      5    3      52.0     210.0
3  2014      5    4      31.0      70.0
4  2014      5    5      33.0      80.0

   year  month  day  avg_PM25  avg_PM10
0  2014      6    1      43.0      55.0
1  2014      6    2      33.0      54.0
2  2014      6    3      36.0      78.0
3  2014      6    4      54.0     135.0
4  2014      6    5      60.0     120.0

   year  month  day  avg_PM25  avg_PM10
0  2014      7    1     108.0     180.0
1  2014      7    2      61.0      65.0
2  2014      7    3     169.0     177.0
3  2014      7    4     154.0     171.0
4  2014      7    5     104.0     128.0

   year  month  day  avg_PM25  avg_PM10
0  2014      8    1     159.0     174.0
1  2014      8    2     156.0     179.0
2  2014      8    3     110.0     120.0
3  2014      8    4      29.0      43.0
4  2014      8    5      31.0      64.0

   year  month  day  avg_PM25  avg_PM10
0  2014      9    1     111.0     122.0
1  2014      9    2      17.0      20.0
2  2014      9    3      20.0      60.0
3  2014      9    4      48.0     148.0
4  2014      9    5      86.0     155.0

   year  month  day  avg_PM25  avg_PM10
0  2014     10    1      71.0      96.0
1  2014     10    2      58.0      58.0
2  2014     10    3     100.0     105.0
3  2014     10    4      79.0      79.0
4  2014     10    5      34.0      34.0

   year  month  day  avg_PM25  avg_PM10
0  2014     11    1      61.0      72.0
1  2014     11    2      12.0      31.0
2  2014     11    3      31.0      76.0
3  2014     11    4      87.0     132.0
4  2014     11    5      52.0      69.0

   year  month  day  avg_PM25  avg_PM10
0  2014     12    1      12.0      64.0
1  2014     12    2      55.0      85.0
2  2014     12    3      20.0      54.0
3  2014     12    4       7.0      18.0
4  2014     12    5      38.0      71.0

   year  month  day  avg_PM25  avg_PM10
0  2015      1    1      44.0      58.0
1  2015      1    2      63.0      82.0
2  2015      1    3     127.0     175.0
3  2015      1    4     158.0     193.0
4  2015      1    5     126.0     160.0

   year  month  day  avg_PM25  avg_PM10
0  2015      2    1      79.0     103.0
1  2015      2    2     130.0     147.0
2  2015      2    3     113.0     117.0
3  2015      2    4       8.0      23.0
4  2015      2    5      34.0      48.0

   year  month  day  avg_PM25  avg_PM10
0  2015      3    1      37.0      81.0
1  2015      3    2      42.0      73.0
2  2015      3    3       9.0      45.0
3  2015      3    4      27.0      42.0
4  2015      3    5     109.0     143.0

   year  month  day  avg_PM25  avg_PM10
0  2015      4    1      60.0      84.0
1  2015      4    2      36.0      38.0
2  2015      4    3      32.0      42.0
3  2015      4    4      65.0      84.0
4  2015      4    5      56.0     121.0

   year  month  day  avg_PM25  avg_PM10
0  2015      5    1     104.0     132.0
1  2015      5    2      42.0      63.0
2  2015      5    3      32.0      72.0
3  2015      5    4      27.0      77.0
4  2015      5    5      47.0     113.0

   year  month  day  avg_PM25  avg_PM10
0  2015      6    1      86.0     181.0
1  2015      6    2      27.0      78.0
2  2015      6    3      35.0     133.0
3  2015      6    4      63.0     146.0
4  2015      6    5      49.0      81.0

   year  month  day  avg_PM25  avg_PM10
0  2015      7    1      19.0      48.0
1  2015      7    2       6.0      21.0
2  2015      7    3      28.0      74.0
3  2015      7    4      33.0      68.0
4  2015      7    5      64.0      76.0

   year  month  day  avg_PM25  avg_PM10
0  2015      8    1      55.0      73.0
1  2015      8    2      91.0      92.0
2  2015      8    3      81.0      84.0
3  2015      8    4      21.0      75.0
4  2015      8    5      74.0     126.0

   year  month  day  avg_PM25  avg_PM10
0  2015      9    1       9.0      15.0
1  2015      9    2       9.0      18.0
2  2015      9    3      14.0      28.0
3  2015      9    4      42.0      49.0
4  2015      9    5      16.0      17.0

   year  month  day  avg_PM25  avg_PM10
0  2015     10    1      17.0      41.0
1  2015     10    2      30.0      81.0
2  2015     10    3      34.0      93.0
3  2015     10    4     113.0     178.0
4  2015     10    5     198.0     227.0

   year  month  day  avg_PM25  avg_PM10
0  2015     11    1      76.0     141.0
1  2015     11    2     105.0     180.0
2  2015     11    3     184.0     179.0
3  2015     11    4     231.0     246.0
4  2015     11    5     132.0     132.0

   year  month  day  avg_PM25  avg_PM10
0  2015     12    1     520.0     520.0
1  2015     12    2       9.0      10.0
2  2015     12    3      12.0      16.0
3  2015     12    4      35.0      55.0
4  2015     12    5      75.0     120.0

In [325]:
months = range(3, 3)
partikulasi_polusi_huairo_polusi_harian_2017 = {}

for month in months:
    partikulasi_polusi_huairo_polusi_harian_2017[month] = partikulasi_polusi(gucheng_df, year=2017, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_huairo_polusi_harian_2017[month]['avg_PM25'] = round(partikulasi_polusi_huairo_polusi_harian_2017[month]['avg_PM25'])
    partikulasi_polusi_huairo_polusi_harian_2017[month]['avg_PM10'] = round(partikulasi_polusi_huairo_polusi_harian_2017[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2017[month].head())

### 7.7.1 Huairou

#### Partikulasi Polusi

##### Harian

In [320]:
months = range(3, 13)
partikulasi_polusi_dongsi_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_dongsi_polusi_harian_2013[month] = partikulasi_polusi(huairou_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_dongsi_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_dongsi_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3      94.0     117.0

   month  avg_PM25  avg_PM10
0      4      57.0      95.0

   month  avg_PM25  avg_PM10
0      5      77.0     163.0

   month  avg_PM25  avg_PM10
0      6      75.0     115.0

   month  avg_PM25  avg_PM10
0      7      63.0      87.0

   month  avg_PM25  avg_PM10
0      8      58.0      77.0

   month  avg_PM25  avg_PM10
0      9      69.0      89.0

   month  avg_PM25  avg_PM10
0     10      76.0      96.0

   month  avg_PM25  avg_PM10
0     11      58.0      75.0

   month  avg_PM25  avg_PM10
0     12      58.0      68.0

### 7.8.1 Nongzhanguan

In [327]:
months = range(3, 13)
partikulasi_polusi_nongzhanguan_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_nongzhanguan_polusi_harian_2013[month] = partikulasi_polusi(Nongzhanguan_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_nongzhanguan_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_nongzhanguan_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_nongzhanguan_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_nongzhanguan_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_nongzhanguan_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3     105.0     125.0

   month  avg_PM25  avg_PM10
0      4      57.0      97.0

   month  avg_PM25  avg_PM10
0      5      77.0     129.0

   month  avg_PM25  avg_PM10
0      6     108.0     107.0

   month  avg_PM25  avg_PM10
0      7      76.0      72.0

   month  avg_PM25  avg_PM10
0      8      70.0      75.0

   month  avg_PM25  avg_PM10
0      9      82.0      99.0

   month  avg_PM25  avg_PM10
0     10      95.0     109.0

   month  avg_PM25  avg_PM10
0     11      83.0     105.0

   month  avg_PM25  avg_PM10
0     12      89.0     114.0

### 7.9.1 Shunyi

In [328]:
months = range(3, 13)
partikulasi_polusi_Shunyi_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_Shunyi_polusi_harian_2013[month] = partikulasi_polusi(shunyi_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_Shunyi_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_Shunyi_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_Shunyi_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_Shunyi_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_Shunyi_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3     103.0     127.0

   month  avg_PM25  avg_PM10
0      4      58.0      83.0

   month  avg_PM25  avg_PM10
0      5      80.0     124.0

   month  avg_PM25  avg_PM10
0      6     106.0     113.0

   month  avg_PM25  avg_PM10
0      7      63.0      69.0

   month  avg_PM25  avg_PM10
0      8      62.0      71.0

   month  avg_PM25  avg_PM10
0      9      72.0      92.0

   month  avg_PM25  avg_PM10
0     10      82.0     107.0

   month  avg_PM25  avg_PM10
0     11      67.0      88.0

   month  avg_PM25  avg_PM10
0     12      65.0      73.0

### 7.5.1 Tiantian

In [329]:
months = range(3, 13)
partikulasi_polusi_Tiantian_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_Tiantian_polusi_harian_2013[month] = partikulasi_polusi(tiantian_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_Tiantian_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_Tiantian_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_Tiantian_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_Tiantian_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_Tiantian_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3     104.0     121.0

   month  avg_PM25  avg_PM10
0      4      61.0      91.0

   month  avg_PM25  avg_PM10
0      5      80.0     138.0

   month  avg_PM25  avg_PM10
0      6     110.0     134.0

   month  avg_PM25  avg_PM10
0      7      70.0      85.0

   month  avg_PM25  avg_PM10
0      8      66.0      84.0

   month  avg_PM25  avg_PM10
0      9      80.0     106.0

   month  avg_PM25  avg_PM10
0     10      93.0     118.0

   month  avg_PM25  avg_PM10
0     11      80.0     103.0

   month  avg_PM25  avg_PM10
0     12      86.0     102.0

### 7.11.1 Wanliu

In [330]:
months = range(3, 13)
partikulasi_polusi_Wanliu_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_Wanliu_polusi_harian_2013[month] = partikulasi_polusi(wanliu_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_Wanliu_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_Wanliu_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_Wanliu_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_Wanliu_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_Wanliu_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3     108.0     145.0

   month  avg_PM25  avg_PM10
0      4      67.0     109.0

   month  avg_PM25  avg_PM10
0      5      92.0     129.0

   month  avg_PM25  avg_PM10
0      6     120.0     114.0

   month  avg_PM25  avg_PM10
0      7      77.0      80.0

   month  avg_PM25  avg_PM10
0      8      69.0      87.0

   month  avg_PM25  avg_PM10
0      9      87.0     102.0

   month  avg_PM25  avg_PM10
0     10     102.0     125.0

   month  avg_PM25  avg_PM10
0     11      87.0     113.0

   month  avg_PM25  avg_PM10
0     12     105.0     114.0

### 7.12.1 Wanshouxigong

In [331]:
months = range(3, 13)
partikulasi_polusi_Wanshouxigong_polusi_harian_2013 = {}

for month in months:
    partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month] = partikulasi_polusi(Wanshouxigong_df, year=2013, month=month, day_start=1, day_end=30)
    
    partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month]['avg_PM25'] = round(partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month]['avg_PM25'])
    partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month]['avg_PM10'] = round(partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month]['avg_PM10'])

    display(partikulasi_polusi_Wanshouxigong_polusi_harian_2013[month].head())

   month  avg_PM25  avg_PM10
0      3     104.0     128.0

   month  avg_PM25  avg_PM10
0      4      79.0      94.0

   month  avg_PM25  avg_PM10
0      5      81.0     128.0

   month  avg_PM25  avg_PM10
0      6     106.0     118.0

   month  avg_PM25  avg_PM10
0      7      69.0      74.0

   month  avg_PM25  avg_PM10
0      8      61.0      82.0

   month  avg_PM25  avg_PM10
0      9      61.0     117.0

   month  avg_PM25  avg_PM10
0     10      97.0     132.0

   month  avg_PM25  avg_PM10
0     11      84.0     112.0

   month  avg_PM25  avg_PM10
0     12      93.0     121.0

## 8 Visualization & Explanatory Analysis

### 8.1 Pertanyaan 1: Apa tren utama dalam tingkat kualitas udara (PM2.5, PM10) di 12 provinsi di Tiongkok selama periode waktu yang diamati (2013-2017)?

#### Aoti_df

In [297]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    # Filter data sesuai tahun, bulan, dan hari
    mask = (df['year'] == year) & (df['month'] == month) & (df['day'].between(day_start, day_end))
    monthly_data = df[mask]
    
    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = monthly_data['PM2.5'].mean()
    avg_PM10 = monthly_data['PM10'].mean()
    
    return pd.DataFrame({
        'month': [month],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_aoti_df_harian_2013 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_aoti_df_harian_2013[month] = partikulasi_polusi(
        aotizhongxin_df, year=2013, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_aoti_df_harian_2013.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2013 (Aoti)',
    xaxis=dict(
        title='Bulan',  # Menetapkan judul untuk sumbu x
        tickvals=list(range(1, 13)),  # Nilai untuk sumbu x (bulan 1 sampai 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Label bulan
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [298]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    # Filter data sesuai tahun, bulan, dan hari
    mask = (df['year'] == year) & (df['month'] == month) & (df['day'].between(day_start, day_end))
    monthly_data = df[mask]
    
    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = monthly_data['PM2.5'].mean()
    avg_PM10 = monthly_data['PM10'].mean()
    
    return pd.DataFrame({
        'month': [month],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_aoti_df_harian_2014 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_aoti_df_harian_2014[month] = partikulasi_polusi(aotizhongxin_df, year=2014, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_aoti_df_harian_2014.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2014 (Aoti)',
    xaxis=dict(
        title='Bulan',  # Menetapkan judul untuk sumbu x
        tickvals=list(range(1, 13)),  # Nilai untuk sumbu x (bulan 1 sampai 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Label bulan
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [299]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    # Filter data sesuai tahun, bulan, dan hari
    mask = (df['year'] == year) & (df['month'] == month) & (df['day'].between(day_start, day_end))
    monthly_data = df[mask]
    
    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = monthly_data['PM2.5'].mean()
    avg_PM10 = monthly_data['PM10'].mean()
    
    return pd.DataFrame({
        'month': [month],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_aoti_df_harian_2015 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_aoti_df_harian_2015[month] = partikulasi_polusi(aotizhongxin_df, year=2015, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_aoti_df_harian_2015.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2015 (Aoti)',
    xaxis=dict(
        title='Bulan',  # Menetapkan judul untuk sumbu x
        tickvals=list(range(1, 13)),  # Nilai untuk sumbu x (bulan 1 sampai 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Label bulan
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [300]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    # Filter data sesuai tahun, bulan, dan hari
    mask = (df['year'] == year) & (df['month'] == month) & (df['day'].between(day_start, day_end))
    monthly_data = df[mask]
    
    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = monthly_data['PM2.5'].mean()
    avg_PM10 = monthly_data['PM10'].mean()
    
    return pd.DataFrame({
        'month': [month],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_aoti_df_harian_2016 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_aoti_df_harian_2016[month] = partikulasi_polusi(aotizhongxin_df, year=2016, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_aoti_df_harian_2016.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2016 (Aoti)',
    xaxis=dict(
        title='Bulan',  # Menetapkan judul untuk sumbu x
        tickvals=list(range(1, 13)),  # Nilai untuk sumbu x (bulan 1 sampai 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Label bulan
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [301]:
def partikulasi_polusi(df, year, month, day_start, day_end):
    # Filter data sesuai tahun, bulan, dan hari
    mask = (df['year'] == year) & (df['month'] == month) & (df['day'].between(day_start, day_end))
    monthly_data = df[mask]
    
    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = monthly_data['PM2.5'].mean()
    avg_PM10 = monthly_data['PM10'].mean()
    
    return pd.DataFrame({
        'month': [month],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_aoti_df_harian_2017 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_aoti_df_harian_2017[month] = partikulasi_polusi(aotizhongxin_df, year=2017, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_aoti_df_harian_2017.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2017 (Aoti)',
    xaxis=dict(
        title='Bulan',  # Menetapkan judul untuk sumbu x
        tickvals=list(range(1, 13)),  # Nilai untuk sumbu x (bulan 1 sampai 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Label bulan
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [302]:

# Gabungkan semua dataframe per tahun
all_years_data = pd.concat([aotizhongxin_partikulasi_polusi_bulanan_2013,
                            aotizhongxin_partikulasi_polusi_bulanan_2014,
                            aotizhongxin_partikulasi_polusi_bulanan_2015,
                            aotizhongxin_partikulasi_polusi_bulanan_2016,
                            aotizhongxin_partikulasi_polusi_bulanan_2017])

# Definisikan warna berbeda untuk tiap tahun
year_colors = {
    2013: '#636EFA',  # Blue
    2014: '#EF553B',  # Red
    2015: '#00CC96',  # Green
    2016: '#AB63FA',  # Purple
    2017: '#FFA15A'  # Orange
}

# Membuat bar chart menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk tiap tahun dengan warna spesifik
for year in range(2013, 2017):
    yearly_data = all_years_data[all_years_data['year'] == year]
    fig.add_trace(go.Bar(
        x=yearly_data['month'],
        y=yearly_data['avg_PM25'],
        name=f'{year}',
        marker_color=year_colors[year],
        hovertemplate='<b>Bulan %{x}</b><br>Tahun: %{customdata}<br>PM2.5: %{y:.2f} μg/m³<extra></extra>',
        customdata=yearly_data['year']
    ))

# Layout dan label
fig.update_layout(
    title='Polusi PM2.5 per Bulan (2013-2017)',
    xaxis=dict(title='Bulan', tickvals=list(range(1, 13)),
               ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']),
    yaxis=dict(title='Kadar PM2.5 (μg/m³)'),
    barmode='group',
    hovermode='x unified',
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

# Tampilkan grafik
fig.show()

In [303]:
# Fungsi untuk menghitung rata-rata polusi tahunan
def partikulasi_polusi_tahunan(df, year):
    # Filter data sesuai tahun
    mask = (df['year'] == year)
    yearly_data = df[mask]

    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = yearly_data['PM2.5'].mean()
    avg_PM10 = yearly_data['PM10'].mean()

    return pd.DataFrame({
        'year': [year],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data tahunan
partikulasi_polusi_aoti_df_tahunan = {}

# Loop untuk mengisi data per tahun
years = range(2013, 2018)  # Dari 2013 sampai 2017
for year in years:
    partikulasi_polusi_aoti_df_tahunan[year] = partikulasi_polusi_tahunan(aotizhongxin_df, year)

# Gabungkan semua dataframe tahunan ke dalam satu dataframe
all_years_data = pd.concat(partikulasi_polusi_aoti_df_tahunan.values())

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_years_data['year'].astype(str),  # Ubah tahun menjadi string untuk sumbu x
    y=all_years_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Tahun %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_years_data['year'].astype(str),  # Ubah tahun menjadi string untuk sumbu x
    y=all_years_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Tahun %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Tahun dari 2013 hingga 2017 (Aoti)',
    xaxis=dict(
        title='Tahun',  # Menetapkan judul untuk sumbu x
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

#### changping df

In [304]:
partikulasi_polusi_changping_df_df_harian_2013 = {}

# Loop to fill data for each month
months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_df_df_harian_2013[month] = partikulasi_polusi(changping_df, year=2013, month=month, day_start=1, day_end=30)

# Combine all monthly DataFrames into a single DataFrame
all_months_data = pd.concat(partikulasi_polusi_changping_df_df_harian_2013.values())

# Ensure the month order is correct
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(3, 13)), ordered=True)

# Define different colors for PM2.5 and PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Create a plot using Plotly
fig = go.Figure()

# Add data for PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Convert month to string for x-axis
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Add data for PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Convert month to string for x-axis
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout and labels
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2013 (Changping)',
    xaxis=dict(
        title='Bulan',  # Set title for x-axis
        tickvals=list(range(3, 13)),  # Values for x-axis (months 1 to 12)
        ticktext=[ 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Month labels
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Set title for y-axis
    barmode='group',  # Group PM2.5 and PM10 bars
    plot_bgcolor='rgba(0,0,0,0)',  # Background color of the plot
    paper_bgcolor='rgba(0,0,0,0)',  # Background color of the paper
    font=dict(
        family="Courier New, monospace",  # Font type
        size=18,  # Font size
        color="#7f7f7f"  # Font color
    )
)

# Show the plot
fig.show()

In [305]:
partikulasi_polusi_changping_df_df_harian_2014 = {}

# Loop to fill data for each month
months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_df_df_harian_2014[month] = partikulasi_polusi(changping_df, year=2014, month=month, day_start=1, day_end=30)

# Combine all monthly DataFrames into a single DataFrame
all_months_data = pd.concat(partikulasi_polusi_changping_df_df_harian_2014.values())

# Ensure the month order is correct
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Define different colors for PM2.5 and PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Create a plot using Plotly
fig = go.Figure()

# Add data for PM2.5
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Convert month to string for x-axis
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Add data for PM10
fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str),  # Convert month to string for x-axis
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout and labels
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2014 (Changping)',
    xaxis=dict(
        title='Bulan',  # Set title for x-axis
        tickvals=list(range(1, 13)),  # Values for x-axis (months 1 to 12)
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  # Month labels
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Set title for y-axis
    barmode='group',  # Group PM2.5 and PM10 bars
    plot_bgcolor='rgba(0,0,0,0)',  # Background color of the plot
    paper_bgcolor='rgba(0,0,0,0)',  # Background color of the paper
    font=dict(
        family="Courier New, monospace",  # Font type
        size=18,  # Font size
        color="#7f7f7f"  # Font color
    )
)

# Show the plot
fig.show()

In [306]:

partikulasi_polusi_changping_df_df_harian_2015 = {}

months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_df_df_harian_2015[month] = partikulasi_polusi(changping_df, year=2015, month=month, day_start=1, day_end=30)

all_months_data = pd.concat(partikulasi_polusi_changping_df_df_harian_2015.values())

all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

color_pm25 = 'blue'
color_pm10 = 'orange'

fig = go.Figure()

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2015 (Changping)',
    xaxis=dict(
        title='Bulan', 
        tickvals=list(range(1, 13)),  
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  
    barmode='group',  
    plot_bgcolor='rgba(0,0,0,0)', 
    paper_bgcolor='rgba(0,0,0,0)',  
    font=dict(
        family="Courier New, monospace", 
        size=18, 
        color="#7f7f7f"  
    )
)

fig.show()

In [307]:

partikulasi_polusi_changping_df_df_harian_2016 = {}

months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_df_df_harian_2016[month] = partikulasi_polusi(changping_df, year=2016, month=month, day_start=1, day_end=30)

all_months_data = pd.concat(partikulasi_polusi_changping_df_df_harian_2016.values())

all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

color_pm25 = 'blue'
color_pm10 = 'orange'

fig = go.Figure()

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2016 (Changping)',
    xaxis=dict(
        title='Bulan', 
        tickvals=list(range(1, 13)),  
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  
    barmode='group',  
    plot_bgcolor='rgba(0,0,0,0)', 
    paper_bgcolor='rgba(0,0,0,0)',  
    font=dict(
        family="Courier New, monospace", 
        size=18, 
        color="#7f7f7f"  
    )
)

fig.show()

In [308]:

partikulasi_polusi_changping_df_df_harian_201 = {}

months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_df_df_harian_201[month] = partikulasi_polusi(changping_df, year=2017, month=month, day_start=1, day_end=30)

all_months_data = pd.concat(partikulasi_polusi_changping_df_df_harian_201.values())

all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 3)), ordered=True)

color_pm25 = 'blue'
color_pm10 = 'orange'

fig = go.Figure()

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Bulan %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

fig.add_trace(go.Bar(
    x=all_months_data['month'].astype(str), 
    y=all_months_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Bulan %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Bulan di Tahun 2017 (Changping)',
    xaxis=dict(
        title='Bulan', 
        tickvals=list(range(1, 3)),  
        ticktext=['Jan', 'Feb']  
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  
    barmode='group',  
    plot_bgcolor='rgba(0,0,0,0)', 
    paper_bgcolor='rgba(0,0,0,0)',  
    font=dict(
        family="Courier New, monospace", 
        size=18, 
        color="#7f7f7f"  
    )
)

fig.show()

In [309]:
# Fungsi untuk menghitung rata-rata polusi tahunan
def partikulasi_polusi_tahunan(df, year):
    # Filter data sesuai tahun
    mask = (df['year'] == year)
    yearly_data = df[mask]

    # Menghitung rata-rata PM2.5 dan PM10
    avg_PM25 = yearly_data['PM2.5'].mean()
    avg_PM10 = yearly_data['PM10'].mean()

    return pd.DataFrame({
        'year': [year],
        'avg_PM25': [avg_PM25],
        'avg_PM10': [avg_PM10]
    })

# Buat dictionary untuk menyimpan data tahunan
partikulasi_polusi_changping_df_tahunan = {}

# Loop untuk mengisi data per tahun
years = range(2013, 2018)  # Dari 2013 sampai 2017
for year in years:
    partikulasi_polusi_changping_df_tahunan[year] = partikulasi_polusi_tahunan(changping_df, year)

# Gabungkan semua dataframe tahunan ke dalam satu dataframe
all_years_data = pd.concat(partikulasi_polusi_changping_df_tahunan.values())

# Definisikan warna berbeda untuk PM2.5 dan PM10
color_pm25 = 'blue'
color_pm10 = 'orange'

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk PM2.5
fig.add_trace(go.Bar(
    x=all_years_data['year'].astype(str),  
    y=all_years_data['avg_PM25'],
    name='PM2.5',
    marker_color=color_pm25,
    hovertemplate='<b>Tahun %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Tambahkan data untuk PM10
fig.add_trace(go.Bar(
    x=all_years_data['year'].astype(str),  
    y=all_years_data['avg_PM10'],
    name='PM10',
    marker_color=color_pm10,
    hovertemplate='<b>Tahun %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Kadar PM2.5 dan PM10 per Tahun dari 2013 hingga 2017 Changping',
    xaxis=dict(
        title='Tahun',  # Menetapkan judul untuk sumbu x
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),  # Menetapkan judul untuk sumbu y
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang plot
    paper_bgcolor='rgba(0,0,0,0)',  # Warna latar belakang kertas
    font=dict(
        family="Courier New, monospace",  # Jenis font
        size=18,  # Ukuran font
        color="#7f7f7f"  # Warna font
    )
)

# Tampilkan grafik
fig.show()

In [310]:
# waktu kapan yang paling besar tingkat polusi udara mingguan

In [311]:

# Gabungkan semua dataframe per tahun
all_years_data = pd.concat([aotizhongxin_partikulasi_polusi_bulanan_2013,
                            aotizhongxin_partikulasi_polusi_bulanan_2014,
                            aotizhongxin_partikulasi_polusi_bulanan_2015,
                            aotizhongxin_partikulasi_polusi_bulanan_2016,
                            aotizhongxin_partikulasi_polusi_bulanan_2017])

# Definisikan warna berbeda untuk tiap tahun
year_colors = {
    2013: '#636EFA',  # Blue
    2014: '#EF553B',  # Red
    2015: '#00CC96',  # Green
    2016: '#AB63FA',  # Purple
    2017: '#FFA15A'  # Orange
}

# Membuat bar chart menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk tiap tahun dengan warna spesifik
for year in range(2013, 2017):
    yearly_data = all_years_data[all_years_data['year'] == year]
    fig.add_trace(go.Bar(
        x=yearly_data['month'],
        y=yearly_data['avg_PM25'],
        name=f'{year}',
        marker_color=year_colors[year],
        hovertemplate='<b>Bulan %{x}</b><br>Tahun: %{customdata}<br>PM2.5: %{y:.2f} μg/m³<extra></extra>',
        customdata=yearly_data['year']
    ))

# Layout dan label
fig.update_layout(
    title='Polusi PM2.5 per Bulan (2013-2017)',
    xaxis=dict(title='Bulan', tickvals=list(range(1, 13)),
               ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']),
    yaxis=dict(title='Kadar PM2.5 (μg/m³)'),
    barmode='group',
    hovermode='x unified',
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

# Tampilkan grafik
fig.show()

In [312]:
# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_changping_suhu_harian_2014 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_suhu_harian_2014[month] = korelasi_suhu(changping_df, year=2014, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_changping_suhu_harian_2014.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Definisikan warna berbeda untuk tiap bulan
month_colors = {
    1: 'red', 2: 'blue', 3: 'green', 4: 'orange', 5: 'purple', 6: 'cyan',
    7: 'magenta', 8: 'yellow', 9: 'brown', 10: 'pink', 11: 'gray', 12: 'olive'
}

# Membuat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk tiap bulan dengan warna spesifik
for month in range(1, 13):
    monthly_data = partikulasi_polusi_changping_suhu_harian_2014[month]
    if not monthly_data.empty:
        fig.add_trace(go.Scatter(
            x=monthly_data['day'],
            y=monthly_data['avg_TEMP'],
            mode='lines+markers',
            name=f'Bulan {month}',
            marker=dict(color=month_colors[month]),
            hovertemplate='<b>Hari %{x}</b><br>Suhu Rata-rata: %{y:.2f}°C<extra></extra>'
        ))

# Layout dan label
fig.update_layout(
    title='Suhu Rata-rata per Hari di Tahun 2014 (Changping)',
    xaxis=dict(title='Hari'),
    yaxis=dict(title='Suhu Rata-rata (°C)'),
    hovermode='x unified',
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

# Tampilkan grafik
fig.show()

In [313]:
import plotly.graph_objects as go
import pandas as pd

# Buat dictionary untuk menyimpan data per bulan
partikulasi_polusi_changping_suhu_bulanan_2014 = {}

# Loop untuk mengisi data per bulan
months = range(1, 13)
for month in months:
    partikulasi_polusi_changping_suhu_bulanan_2014[month] = korelasi_suhu(changping_df, year=2014, month=month, day_start=1, day_end=30)

# Gabungkan semua dataframe bulanan ke dalam satu dataframe
all_months_data = pd.concat(partikulasi_polusi_changping_suhu_bulanan_2014.values())

# Pastikan urutan bulan benar
all_months_data['month'] = pd.Categorical(all_months_data['month'], categories=list(range(1, 13)), ordered=True)

# Hitung rata-rata suhu per bulan
avg_temp_per_month = all_months_data.groupby('month')['avg_TEMP'].mean().reset_index()

# Definisikan warna berbeda untuk tiap bulan
month_colors = {
    1: 'red', 2: 'blue', 3: 'green', 4: 'orange', 5: 'purple', 6: 'cyan',
    7: 'magenta', 8: 'yellow', 9: 'brown', 10: 'pink', 11: 'gray', 12: 'olive'
}

# Membuat bar chart menggunakan Plotly
fig = go.Figure()

# Tambahkan data suhu rata-rata per bulan
fig.add_trace(go.Bar(
    x=avg_temp_per_month['month'],
    y=avg_temp_per_month['avg_TEMP'],
    marker_color=[month_colors[month] for month in avg_temp_per_month['month']],
    hovertemplate='<b>Bulan %{x}</b><br>Suhu Rata-rata: %{y:.2f}°C<extra></extra>'
))

# Layout dan label
fig.update_layout(
    title='Suhu Rata-rata per Bulan di Tahun 2014 (Changping)',
    xaxis=dict(
        title='Bulan',
        tickvals=list(range(1, 13)),
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    ),
    yaxis=dict(title='Suhu Rata-rata (°C)'),
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

# Tampilkan grafik
fig.show()

#### Visualisasi data

In [353]:
import pandas as pd
import plotly.graph_objects as go

# Define your colors for each city
colors = {
    'Aotizhongxin': 'blue',
    'Changping': 'orange',
    'Dingling': 'green',
    'Dongsi': 'red',
    'Guanyuan': 'purple',
    'Gucheng': 'brown',
    'Huairou': 'pink',
    'Nongzhanguan': 'cyan',
    'Shunyi': 'magenta',
    'Tiantan': 'lime',
    'Wanliu': 'grey',
    'Wanshouxigong': 'yellow'
}

# Siapkan list untuk menyimpan data bulanan
monthly_data = []

# Mengumpulkan data bulanan untuk setiap kota
for station_name, df in dataframes.items():
    for month in range(1, 13):
        data = partikulasi_polusi(df, year=2013, month=month, day_start=1, day_end=30)
        avg_pm25 = data['avg_PM25'].mean()  # Ambil rata-rata PM2.5
        avg_pm10 = data['avg_PM10'].mean()  # Ambil rata-rata PM10

        monthly_data.append({
            'City': station_name,
            'Month': month,
            'Avg_PM25': avg_pm25,
            'Avg_PM10': avg_pm10
        })

# Mengubah list menjadi DataFrame
monthly_df = pd.DataFrame(monthly_data)

# Menggabungkan PM2.5 dan PM10 untuk perbandingan
monthly_df = pd.melt(monthly_df, id_vars=['City', 'Month'], value_vars=['Avg_PM25', 'Avg_PM10'], 
                      var_name='Pollutant', value_name='Value')

# Sortir berdasarkan bulan dan nilai
monthly_df.sort_values(by=['Month', 'Value'], ascending=[True, True], inplace=True)

# Buat plot menggunakan Plotly
fig = go.Figure()

# Tambahkan data untuk setiap provinsi
for city in monthly_df['City'].unique():
    city_data = monthly_df[monthly_df['City'] == city]
    fig.add_trace(go.Bar(
        x=city_data['Month'].astype(str),  # Ubah bulan menjadi string untuk sumbu x
        y=city_data['Value'],
        name=f'{city} ({city_data["Pollutant"].iloc[0]})',
        marker_color=colors[city],
        hovertemplate='<b>Bulan %{x}</b><br>%{name}: %{y:.2f} μg/m³<extra></extra>'
    ))

# Layout dan label
fig.update_layout(
    title='Perbandingan Kadar PM2.5 dan PM10 per Bulan di 12 Provinsi (2013)',
    xaxis=dict(
        title='Bulan',
        tickvals=list(range(1, 13)),
        ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    ),
    yaxis=dict(title='Kadar PM (μg/m³)'),
    barmode='group',  # Mengelompokkan batang PM2.5 dan PM10
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

# Tampilkan plot
fig.show()

In [356]:
import pandas as pd
import plotly.graph_objects as go

# Define your colors for each city
colors = {
    'Aotizhongxin': 'blue',
    'Changping': 'orange',
    'Dingling': 'green',
    'Dongsi': 'red',
    'Guanyuan': 'purple',
    'Gucheng': 'brown',
    'Huairou': 'pink',
    'Nongzhanguan': 'cyan',
    'Shunyi': 'magenta',
    'Tiantan': 'lime',
    'Wanliu': 'grey',
    'Wanshouxigong': 'yellow'
}

# Prepare to collect monthly data
monthly_data = []

# Calculate monthly averages for each city
for station_name, df in dataframes.items():
    for month in range(1, 13):
        data = partikulasi_polusi(df, year=2013, month=month, day_start=1, day_end=30)
        avg_pm25 = data['avg_PM25'].mean()
        avg_pm10 = data['avg_PM10'].mean()

        monthly_data.append({
            'Month': month,
            'City': station_name,
            'Avg_PM25': avg_pm25,
            'Avg_PM10': avg_pm10
        })

# Create DataFrame from collected data
monthly_df = pd.DataFrame(monthly_data)

# Calculate average PM2.5 and PM10 for each city
avg_pm25 = monthly_df.groupby('City')['Avg_PM25'].mean().reset_index()
avg_pm10 = monthly_df.groupby('City')['Avg_PM10'].mean().reset_index()

# Sort the dataframes
avg_pm25 = avg_pm25.sort_values(by='Avg_PM25')
avg_pm10 = avg_pm10.sort_values(by='Avg_PM10')

# Create separate bar charts for PM2.5 and PM10
fig_pm25 = go.Figure()
fig_pm10 = go.Figure()

# Adding PM2.5 data
fig_pm25.add_trace(go.Bar(
    x=avg_pm25['City'],
    y=avg_pm25['Avg_PM25'],
    marker_color=[colors[city] for city in avg_pm25['City']],
    hovertemplate='<b>Kota: %{x}</b><br>PM2.5: %{y:.2f} μg/m³<extra></extra>'
))

# Adding PM10 data
fig_pm10.add_trace(go.Bar(
    x=avg_pm10['City'],
    y=avg_pm10['Avg_PM10'],
    marker_color=[colors[city] for city in avg_pm10['City']],
    hovertemplate='<b>Kota: %{x}</b><br>PM10: %{y:.2f} μg/m³<extra></extra>'
))

# Layout for PM2.5
fig_pm25.update_layout(
    title='Rata-rata Kadar PM2.5 per Kota (2013)',
    xaxis_title='Kota',
    yaxis_title='Kadar PM2.5 (μg/m³)',
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(family="Courier New, monospace", size=18, color="#7f7f7f")
)

# Layout for PM10
fig_pm10.update_layout(
    title='Rata-rata Kadar PM10 per Kota (2013)',
    xaxis_title='Kota',
    yaxis_title='Kadar PM10 (μg/m³)',
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(family="Courier New, monospace", size=18, color="#7f7f7f")
)

# Show the plots
fig_pm25.show()
fig_pm10.show()

- kota aoti menjadi salah satu kota yang paling besar partikulasi pm 10 sedangkan wanliu menjadi kota yang sangat tinggi pm 2.5

### 8.1 Pertanyaan 2:

## 9 Analisis Lanjutan (Opsional)

## 10 Conclusion